<% provide(:title, 'Footsmart Bootstrap Demo') %>

<div class="container">
	<div class="clearfix row">		
		<div class="span192">
			<div id="topLinks">
				<a href="http://www.footsmart.com/Default.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Home','Top Nav','Top Nav','Logo And Links');" id="homelink">Home</a> 
				| <a href="http://www.footsmart.com/CatalogRequest.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Catalog Request','Top Nav','Top Nav','Logo And Links');">Catalog Request</a> 
				| <a href="http://www.footsmart.com/Page.aspx?PageId=1045" onclick="fsCoremetricsOld.ElementTagWithAttributes('Online Catalog','Top Nav','Top Nav','Logo And Links');">Online Catalog</a> 
				| <a href="http://www.footsmart.com/newslettersignup.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Email','Top Nav','Top Nav','Logo And Links');">Email Sign-Up</a> 
				| <span>1 (800) 707-9928</span>
				| <a href="http://www.footsmart.com/AccountHome.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Account','Top Nav','Top Nav','Account');">My Account</a> 
				| <a href="http://www.footsmart.com/Login.aspx?ReturnUrl=%2fAccountHome.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Account','Top Nav','Top Nav','Account');" id="A1">Account Sign-In</a>
			</div>
		</div>
	</div>
	<div class="row m10t m10b">
		<div class="span88">						
			<div class="topNavLeft">
				<span id="logoFootSmart" style="display:none"><a class="fs" href="http://www.footsmart.com/Default.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Logo','Top Nav','Top Nav','Logo And Links');" title="FootSmart :: Comfortable Walking Shoes &amp; Foot Pain Products for Heel Pain, Back Support &amp; Foot Problems :: Comfort Footwear"></a></span>
				<span id="logoComfortology" style="display:none"><a class="ct" href="http://www.footsmart.com/Comfortology/Default.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Logo','Top Nav','Top Nav','Logo And Links');" title="Comfortology :: Really great shoes... surprisingly comfortable!"></a></span>
				<span id="logoCobranded" style="display:inline"><a class="cobrandfs" href="http://www.footsmart.com/Default.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Logo','Top Nav','Top Nav','Logo And Links');" title="FootSmart :: Comfortable Walking Shoes &amp; Foot Pain Products for Heel Pain, Back Support &amp; Foot Problems :: Comfort Footwear"></a><span class="space"></span><a class="cobrandct" href="/Comfortology/Default.aspx" title="Comfortology :: Really great shoes... surprisingly comfortable!"></a></span>
			</div>
		</div>
		<div class="span40">			
			<span class="fscart"></span><span class="ctcart"></span><a id="cartLink" href="http://www.footsmart.com/ShoppingCart.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Shopping Cart','Top Nav','Top Nav','Account');" class="topnavlink">Shopping Cart <span class="cartCountText">(</span><span id="cartCountText" class="cartCountText">0 items</span><span class="cartCountText">)</span></a>
			<div id="globalCartPromoText" style="display:none;"></div>				
		</div>
		<div class="span64">
			<table id="searchBar" border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td id="searchAreaCell">
							<div id="oldMenu">
								<input name="ctl00$SiteHeaderControl$tbNavSearch" type="text" value="Enter keyword or item #" maxlength="200" id="ctl00_SiteHeaderControl_tbNavSearch" class="toggletext tbNavSearch" toggletext="Enter keyword or item #">
								<a id="searchLinkButton" href="javascript:fsTypeAheadMenu.search('http://www.footsmart.com/SearchReturns.aspx');" class="searchbutton sprite">
									<span class="alt">Search Products</span>
								</a>
							<div id="typeAheadContainer" class="typeahead" style="display:none;"><ul class="autosuggest"></ul></div></div>
						</td>
					</tr>
				</tbody>
			</table>    
		</div>
	</div>
	<div id="banner" class="row">		
		<div class="span192">
			<div class="mboxDefault" style="visibility: visible; display: block;">
				<a id="ctl00_Banner_bannerLink" href="http://www.footsmart.com/clearance-s?NavCmd=N:4294967150-4294967138&amp;cm_sp=RHU-_-Utility-_-Clearance012113" style="display:inline-block;border-width:0px;"><img src="http://www.footsmart.com/Images/Images/BANNER_634924960530662058.gif" alt="Save up to 50%" style="border-width:0px;width:960px"></a>
			</div>
			<script type="text/javascript">
				if (typeof (mboxCreate) != 'undefined') {
					mboxCreate('fsGlobalSkinnyBanner');
				}
			</script><div id="mboxMarker-default-fsGlobalSkinnyBanner-0" style="visibility:hidden;display:none">&nbsp;</div><script src="http://benchmarkbrandsinc.tt.omtrdc.net/m2/benchmarkbrandsinc/mbox/standard?mboxHost=www.footsmart.com&amp;mboxSession=1359996421706-203352&amp;mboxPC=1359579584084-366301.17_29&amp;mboxPage=1359997980540-168262&amp;screenHeight=1080&amp;screenWidth=1920&amp;browserWidth=1830&amp;browserHeight=995&amp;browserTimeOffset=-300&amp;colorDepth=32&amp;mboxCount=2&amp;mbox=fsGlobalSkinnyBanner&amp;mboxId=0&amp;mboxTime=1359979980629&amp;mboxURL=http%3A%2F%2Fwww.footsmart.com%2Fclarks-s.aspx%3Fsearchterm%3Dclarks%26cm%3Dsb&amp;mboxReferrer=http%3A%2F%2Fwww.footsmart.com%2F&amp;mboxVersion=41" language="JavaScript"></script>
		</div>
	</div>
	<div class="row">
		<div class="span192">
			<div class="m5b">
				<div id="ctl00_MainContentPlaceHolder_ctl00_ctl01_panelSearchAdjustments">
					<div id="searchResultsBanner">
						<div class="searchText">Search Results<span class="bulletArrow"></span></div>
						<div class="searchResults">
							<h1>clarks</h1><span>(179 Items Found)</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="span192">
			<div class="row">
				<div class="span40">
					<div class="sidebarLeft m10r">
						<div id="searchBreadCrumb">
							<div class="imgTitle">
								<img src="http://www.footsmart.com/Images/searchresults-refineyour.gif" title="Refine Your Search" alt="Refine Your Search">
							</div>							
						</div>
						<div id="guidedNavigation">
							<ul id="navlist">    
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Gender</a>
									<div style="position:relative;">										
										<ul class="subnavlist">
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967233&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">Women's (150)</a>
											</li>
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967234&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">Men's (28)</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Shoe Category</a>
									<div style="position:relative;">										
										<ul class="subnavlist">
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967136&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Casual Shoes (89)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967081&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Casual Sandals (33)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966952&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Boots (33)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966985&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Dress Shoes (17)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966671&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Occupational (3)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966636&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Dress Sandals (2)
												</a>
											</li>
										</ul>
									</div>
								</li>
    
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Shoe Style</a>
									<div style="position:relative;">										
										<ul class="subnavlist">
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967134&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Slip-Ons (64)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967012&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Lace-Ups/Oxfords (24)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966770&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Flats (18)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966971&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Strappy Sandals (17)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966984&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Pumps (10)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966892&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Slings (8)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966890&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Fishermans (7)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966967&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Clogs/Mules (6)
												</a>
											</li>
										
											<li class="more">
												<a id="20" href="/SearchReturns.aspx?NavCmd=Ntk:All%7cclarks%7c3%7c,Nrc:id-20-dynrank-disabled&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" onclick="javascript:return false;" rel="nofollow">
														See More Options 
												</a>
											</li>
										</ul>										
									</div>
								</li>
							
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Shoe Size</a>
									<div style="position:relative;">										
										<ul class="subnavlist">
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966989&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														5 (68)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966988&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														5.5 (68)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967074&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														6 (108)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967076&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														6.5 (98)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967073&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														7 (129)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967133&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														7.5 (121)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967103&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														8 (121)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967130&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														8.5 (123)
												</a>
											</li>
										
											<li class="more">
												<a id="22" href="" onclick="javascript:return false;" rel="nofollow">
														See More Options 
												</a>
											</li>
										</ul>

										 <ul class="subnavlist expanded" style="display:none;">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966989&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															5 (68)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966988&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															5.5 (68)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967074&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															6 (108)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967076&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															6.5 (98)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967073&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															7 (129)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967133&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															7.5 (121)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967103&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															8 (121)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967130&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															8.5 (123)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967101&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															9 (124)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967129&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															9.5 (127)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967099&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															10 (129)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967113&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															10.5 (24)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967098&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															11 (124)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967112&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															11.5 (21)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967097&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															12 (107)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967105&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															13 (25)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967095&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															14 (16)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966998&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															15 (10)
													</a>
												</li>
											</ul>

									</div>
								</li>
							
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Shoe Width</a>
									<div style="position:relative;">										
										<ul class="subnavlist">
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967079&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Narrow (58)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967132&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Medium (167)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967102&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Wide (88)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967094&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Wide Wide (18)
												</a>
											</li>
										</ul>										
									</div>
								</li>
							
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Color</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967131&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Brown (128)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967106&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Black (126)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967078&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Multi-Colored (92)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967096&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Blue (44)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967069&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Beige (38)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967066&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Gray (33)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966972&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Red (20)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967077&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Metallic (17)
													</a>
												</li>
											
												<li class="more">
													<a id="4" href="/SearchReturns.aspx?NavCmd=Ntk:All%7cclarks%7c3%7c,Nrc:id-4-dynrank-disabled&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" onclick="javascript:return false;" rel="nofollow">
															See More Options 
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Shoe Feature</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966992&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Removable Insoles (46)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966866&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Arch Supportive (30)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966670&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Anti-Slip/Anti-Skid (28)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966991&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Hook &amp; Loop (25)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966865&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Wedge Bottom (10)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966910&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Rocker Bottoms (6)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966951&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Waterproof (5)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966968&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Stretchable Uppers (3)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Heel Height</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967137&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under 1" (49)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966987&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															1" - 1 1/2" (67)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966986&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															1 1/2 " - 2" (23)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966648&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															2" - 2 1/2" (12)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966760&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															2 1/2" - 3" (11)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966425&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															3" &amp; Up (8)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li class="collapsed">
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Brand</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966349&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Bootights (1)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966783&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Clarks (115)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966737&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Clarks Artisan (25)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999994287&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Clarks Indigo (17)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999994286&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Clarks Privo (21)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li class="collapsed">
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Price Range</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999304&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under $20.00 (1)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999303&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under $40.00 (6)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999302&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under $60.00 (18)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999301&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under $80.00 (67)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999300&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under $100.00 (115)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999299&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															$100.00 and up (64)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li class="collapsed">
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Ailment</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967226&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Tired, Aching Feet (1)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li class="collapsed">
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Other Shopping</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966782&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															New Arrivals (18)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966811&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															SmartBuys (4)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967150&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Clearance (39)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966909&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Outlet (1)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li class="collapsed">
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Product Type</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967138&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Shoes (175)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999896&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Slippers (2)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967088&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Support Hosiery (1)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
									</ul>
								</div>
							

						<script language="javascript" type="text/javascript">
							if (typeof (FootSmartGlobal) != 'undefined') { FootSmartGlobal.AutoExpandedDimensionIds = [22] };
						</script>


						</div>
				

				</div>
				<div class="span4"></div>
				<div class="span148">
					<div class="row">  
						<div class="mboxDefault span148 m10b" style="visibility: visible; display: block;">
							<span id="ctl00_MainContentPlaceHolder_ctl00_ctl04_businessRuleRepeater_ctl01_ctl00" class="businessRuleItem"><a href="/Clarks-info"><img src="/assets/brandBannerClarks.jpg" height="104" width="750" alt="Clarks" title="Clarks"></a></span>
						</div>
						<script type="text/javascript">
							if (typeof (mboxCreate) != 'undefined') {
								mboxCreate('fsSearchResultsPageBanner');
							}
						</script><div id="mboxMarker-default-fsSearchResultsPageBanner-0" style="visibility:hidden;display:none">&nbsp;</div><script src="http://benchmarkbrandsinc.tt.omtrdc.net/m2/benchmarkbrandsinc/mbox/standard?mboxHost=www.footsmart.com&amp;mboxSession=1359579584084-366301&amp;mboxPC=1359579584084-366301.17_29&amp;mboxPage=1359579594336-871201&amp;screenHeight=1080&amp;screenWidth=1920&amp;browserWidth=1444&amp;browserHeight=690&amp;browserTimeOffset=-300&amp;colorDepth=32&amp;mboxCount=4&amp;mbox=fsSearchResultsPageBanner&amp;mboxId=0&amp;mboxTime=1359561594737&amp;mboxURL=http%3A%2F%2Fwww.footsmart.com%2Fclarks-s.aspx%3Fsearchterm%3Dclarks%26tama%3DUSED%26cm%3Dsb&amp;mboxReferrer=http%3A%2F%2Fwww.footsmart.com%2F&amp;mboxVersion=41" language="JavaScript"></script>
					</div>
						
					<div class="row">
						<div id="mainSearchContainer" class="span148">
							<div id="searchPagingContainer">
								<div class="sortbyBar">     
									<div class="mboxDefault" id="mboxSortBySection" style="visibility: visible; display: block;">
										<ul class="sortBar">
											<li class="firstSortBy">Sort By:</li>
											<li class="firstLink">
												<a href="javascript:void(0)" class="currentPage" rel="nofollow">Relevancy</a>
											</li>    
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cNs%3aUSPrice%7c101%7c1%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;sn=2" class="" rel="nofollow">
													Price: Low to High
												</a>
											</li>    
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cNs%3aUSPrice%7c101%7c-1%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;sn=2" class="" rel="nofollow">
													Price: High to Low
												</a>
											</li>
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cNs%3aAverageRating%7c101%7c-1%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;sn=2" class="" rel="nofollow">
													Top Rated
												</a>
											</li>						
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cNs%3aIsClearance%7c101%7c-1%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;sn=2" class="" rel="nofollow">
													Clearance
												</a>
											</li>						
											<li class="lastLink">
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cNs%3aBestSellerOrder%7c101%7c1%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;sn=2" class="" rel="nofollow">
													Best Seller
												</a>
											</li>    
										</ul>
									</div>
									<script type="text/javascript">
										if (typeof (mboxCreate) != 'undefined') {
											mboxCreate('fsSortBySection');
										}
									</script>
									<div id="mboxMarker-default-fsSortBySection-0" style="visibility:hidden;display:none">&nbsp;</div>
									<script src="http://benchmarkbrandsinc.tt.omtrdc.net/m2/benchmarkbrandsinc/mbox/standard?mboxHost=www.footsmart.com&amp;mboxSession=1359579584084-366301&amp;mboxPC=1359579584084-366301.17_29&amp;mboxPage=1359579594336-871201&amp;screenHeight=1080&amp;screenWidth=1920&amp;browserWidth=1444&amp;browserHeight=690&amp;browserTimeOffset=-300&amp;colorDepth=32&amp;mboxCount=5&amp;mbox=fsSortBySection&amp;mboxId=0&amp;mboxTime=1359561594794&amp;mboxURL=http%3A%2F%2Fwww.footsmart.com%2Fclarks-s.aspx%3Fsearchterm%3Dclarks%26tama%3DUSED%26cm%3Dsb&amp;mboxReferrer=http%3A%2F%2Fwww.footsmart.com%2F&amp;mboxVersion=41" language="JavaScript"></script>
								</div>

								<div class="productsPageBar">            
									<ul class="productsPerPage">
										<li>View per Page:</li>    
										<li class="currentSelection"><a href="" onclick="javascript:return false">40</a></li>				
										<li class="">
											<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cArpp%3a80&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb">80</a>
										</li>    
									</ul>
									<div class="pageNavigation">                
										<ul class="pagination">
											<li>								
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="currentPageNumber" onclick="javascript:return false" style="">1</a>
											</li>						
											<li>								
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a40&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">2</a>
											</li>						
											<li>							
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a80&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">3</a>
											</li>						
											<li>								
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a120&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">4</a>
											</li>						
											<li>
												<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_PageNavigationTop_pageNumbersRepeater2_ctl05_paginationEllipsisLabel" class="paginationEllipsis">...</span>
												<a href="" class="" style="display:none;">...</a>
											</li>						
											<li>								
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a160&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">5</a>
											</li>
											<li class="next">
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a40&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb"></a>
											</li>
										</ul>
									</div>
									<p>177 Items</p>
								</div>
							</div>
						</div>
					</div>				

					<div class="row">
						<div class="span148">
							<div class="row productGridRow clearfix"> 
								<div class="span37 productGridItem firstItem">               
									<div class="productImg">
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl00" title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Ashland-Rivers-Fisherman-Shoes-79922.aspx"><img title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/79922_TAN?$135X135$" style="border-width:0px;"></a>
									</div>
									<div class="productTitle">
										<span class="productNew">new</span>
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl01" title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Ashland-Rivers-Fisherman-Shoes-79922.aspx">Clarks Bendables Women's Ashland Rivers Fisherman Shoes</a>
									</div>
									<div class="productPrice">
										<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
									</div>    
									<div class="containerRating1"></div>
								</div>        
								<div class="span37 productGridItem">           				
									<div class="productImg">
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl00" title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Falcon-Lace-Up-Shoes-76349.aspx"><img title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/76349_GREY_SUEDE?$135X135$" style="border-width:0px;"></a>
									</div>
									<div class="productTitle">						
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl01" title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Falcon-Lace-Up-Shoes-76349.aspx">Clarks Privo Women's Haley Falcon Lace-Up Shoes</a>
									</div>
									<div class="productPrice">
										<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl03" class="productRegularPrice"> $79.99</span>
									</div>    
									<div class="containerRating2">        
										<div class="starsDiv clearfix">
											<div class="backgroundStarsEmpty"></div>
											<div class="StarRating" style="width:80%;"></div>
										</div>        
									</div>				
								</div>        
								<div class="span37 productGridItem">               				
									<div class="productImg">
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl00" title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Stork-Slip-On-Shoes-79923.aspx"><img title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/79923_BEIGE?$135X135$" style="border-width:0px;"></a>
									</div>
									<div class="productTitle">
										<span class="productNew">new</span>
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl01" title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Stork-Slip-On-Shoes-79923.aspx">Clarks Privo Women's Haley Stork Slip-On Shoes</a>
									</div>
									<div class="productPrice">
										<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
									</div>					
									<div class="containerRating3"></div>				
								</div>        
								<div class="span37 productGridItem lastItem">            				
									<div class="productImg">
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl00" title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Lexi-Bark-Slide-Sandals-86314.aspx"><img title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/86314_SAND?$135X135$" style="border-width:0px;"></a>
									</div>
									<div class="productTitle">					
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl01" title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Lexi-Bark-Slide-Sandals-86314.aspx">Clarks Bendables Women's Lexi Bark Slide Sandals</a>
									</div>
									<div class="productPrice">
										<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
									</div>					
									<div class="containerRating4">        
										<div class="starsDiv clearfix">
											<div class="backgroundStarsEmpty"></div>
											<div class="StarRating" style="width:90%;"></div>
										</div>       
									</div>				
								</div>        
							</div>
							
							<div class="productGridRow clearfix"> 
								<div class="span37 productGridItem">               
									<div class="productImg">
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl00" title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Ashland-Rivers-Fisherman-Shoes-79922.aspx"><img title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/79922_TAN?$135X135$" style="border-width:0px;"></a>
									</div>
									<div class="productTitle">
										<span class="productNew">new</span>
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl01" title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Ashland-Rivers-Fisherman-Shoes-79922.aspx">Clarks Bendables Women's Ashland Rivers Fisherman Shoes</a>
									</div>
									<div class="productPrice">
										<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
									</div>    
									<div class="containerRating1"></div>
								</div>        
								<div class="span37 productGridItem">           				
									<div class="productImg">
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl00" title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Falcon-Lace-Up-Shoes-76349.aspx"><img title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/76349_GREY_SUEDE?$135X135$" style="border-width:0px;"></a>
									</div>
									<div class="productTitle">						
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl01" title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Falcon-Lace-Up-Shoes-76349.aspx">Clarks Privo Women's Haley Falcon Lace-Up Shoes</a>
									</div>
									<div class="productPrice">
										<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl03" class="productRegularPrice"> $79.99</span>
									</div>    
									<div class="containerRating2">        
										<div class="starsDiv clearfix">
											<div class="backgroundStarsEmpty"></div>
											<div class="StarRating" style="width:80%;"></div>
										</div>        
									</div>				
								</div>        
								<div class="span37 productGridItem">               				
									<div class="productImg">
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl00" title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Stork-Slip-On-Shoes-79923.aspx"><img title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/79923_BEIGE?$135X135$" style="border-width:0px;"></a>
									</div>
									<div class="productTitle">
										<span class="productNew">new</span>
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl01" title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Stork-Slip-On-Shoes-79923.aspx">Clarks Privo Women's Haley Stork Slip-On Shoes</a>
									</div>
									<div class="productPrice">
										<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
									</div>					
									<div class="containerRating3"></div>				
								</div>        
								<div class="span37 productGridItem">            				
									<div class="productImg">
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl00" title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Lexi-Bark-Slide-Sandals-86314.aspx"><img title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/86314_SAND?$135X135$" style="border-width:0px;"></a>
									</div>
									<div class="productTitle">					
										<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl01" title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Lexi-Bark-Slide-Sandals-86314.aspx">Clarks Bendables Women's Lexi Bark Slide Sandals</a>
									</div>
									<div class="productPrice">
										<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
									</div>					
									<div class="containerRating4">        
										<div class="starsDiv clearfix">
											<div class="backgroundStarsEmpty"></div>
											<div class="StarRating" style="width:90%;"></div>
										</div>       
									</div>				
								</div>        
							</div>
							
							
						</div>
						<div class="productsPageBar bottomPageNav span148">
							<div class="pageNavigation">            
								<ul class="pagination">
									<li>
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="currentPageNumber" onclick="javascript:return false" style="">1</a>
									</li>				
									<li>						
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a40&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">2</a>
									</li>				
									<li>						
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a80&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">3</a>
									</li>				
									<li>						
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a120&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">4</a>
									</li>				
									<li>
										<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_PageNavigationBottom_pageNumbersRepeater2_ctl05_paginationEllipsisLabel" class="paginationEllipsis">...</span>
									</li>			
									<li>					
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a160&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">5</a>
									</li>
									<li class="next">
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a40&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb"></a>
									</li>
								</ul>
							</div>
							<p>177 Items</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="footer" class="span192">				
			<div class="footer-fs m10t">
				<div class="signup">
					<div class="envelope"></div>
					<p class="fs">Sign up for exclusive offers</p>
					<p class="ct"><strong>Sign up</strong> to receive emails about new products and offers</p>
					<div id="newsletterSignup">
						<input type="text" id="textNewsletterSignup" maxlength="100" value="Enter Email Address" onfocus="javascript:cleanTextField('onfocus');" onblur="javascript:cleanTextField('onblur');">
						<a href="javascript:newsSignUp();" id="newsletterSignUpButton"></a>
					</div>
				</div>
				<div class="connect">
					<a class="facebook" href="http://www.facebook.com/pages/FootSmart/72169484788" title="Facebook" target="_blank"></a>
					<a class="twitter" href="http://twitter.com/FootSmart" title="Twitter" target="_blank"></a>
					<a class="pinterest" href="http://pinterest.com/footsmart/" title="Pinterest" target="_blank"></a>
					<a class="blog" href="http://blog.footsmart.com/" title="Blog" target="_blank"></a>
					Connect with us
				</div>
				<div class="mobile">
					<a href="http://m.footsmart.com" title="Shop our mobile site">FootSmart mobile</a>
				</div>
			</div>
			<div class="footerSection m10t">
				<div class="row">				
					<div class="left span96">
						<div id="paymentLinks">
							<h5 class="Title">Payment Options</h4>
							<ul style="margin-top: 15px;">
								<li><span id="visaPayment" class="sprite"><span class="alt">Visa</span></span></li>
								<li><span id="amexPayment" class="sprite"><span class="alt">American Express</span></span></li>
								<li><span id="mstrPayment" class="sprite"><span class="alt">Master Card</span></span></li>
								<li><span id="discPayment" class="sprite"><span class="alt">Discover</span></span></li>
								<li><span id="paypPayment" class="sprite"><span class="alt">PayPal</span></span></li>
								<li><span id="blmlPayment" class="sprite"><span class="alt">Bill Me Later</span></span></li>
							</ul>
						</div>
					</div>
					<div class="right span96">
						<h5 class="Title short">Security Assurance</h4>
						<ul>
							<li style="padding-left: 0;"><a href="Javascript: popUp('http://www.bbb.org/atlanta/business-reviews/product-sales-general/benchmark-brands-in-norcross-ga-16000628','820', '800', 'Better Business Bureau');" id="bbbLogo" class="sprite"><span class="alt">Better Business Bureau</span></a></li>
							
							<li class="nortonIconFooter" style="margin-top:-9px; margin-left:0px; padding: 0 9px;">
								<script type="text/javascript" src="https://seal.verisign.com/getseal?at=0&sealid=2&dn=www.footsmart.com&lang=en"></script><a href="javascript:vrsn_splash()" tabindex="-1"><img name="seal" border="true" src="https://seal.verisign.com/getseal?at=0&amp;sealid=2&amp;dn=www.footsmart.com&amp;lang=en" oncontextmenu="return false;" alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security"></a>
							</li>
							<li style="margin-left: 0px;"><a target="_blank" href="https://www.mcafeesecure.com/RatingVerify?ref=www.footsmart.com">
								<img width="61" height="35" border="0" src="//images.scanalert.com/meter/www.footsmart.com/13.gif" alt="McAfee Secure sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" oncontextmenu="alert('Copying Prohibited by Law - McAfee Secure is a Trademark of McAfee, Inc.'); return false;"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row m10t">
				<div class="globalFooter span48">
					<h5>Company Information</h5>
					<a href="http://www.footsmart.com/MarketingPage.aspx?pageid=743" onclick="fsCoremetricsOld.ElementTagWithAttributes('About Us','Footer','Footer','Company');" title="About Us">About Us</a>
					<a href="http://www.benchmarkbrands.com" target="_blank" onclick="fsCoremetricsOld.ElementTagWithAttributes('Benchmark','Footer','Footer','Company');">BenchmarkBrands.com</a>
					<a href="http://www.benchmarkbrands.com/careers.html" target="_blank" onclick="fsCoremetricsOld.ElementTagWithAttributes('Career','Footer','Footer','Company');" title="Careers">Careers</a>
					<a href="http://www.footsmart.com/MarketingPage.aspx?pageid=745" onclick="fsCoremetricsOld.ElementTagWithAttributes('Affiliate','Footer','Footer','Company');" title="Affiliate Programs">Affiliate Programs</a>
					<a href="http://www.footsmart.com/Causes" onclick="fsCoremetricsOld.ElementTagWithAttributes('CausesWeSupport','Footer','Footer','Company');" title="Causes We Support">Causes We Support</a>
					<a href="http://www.footsmart.com/TermsofUse" onclick="fsCoremetricsOld.ElementTagWithAttributes('Terms','Footer','Footer','Company');" title="Terms of Use">Terms of Use</a>
				</div>
				<div class="globalFooter span48">
					<h5>Customer Service</h5>
					<a href="http://www.footsmart.com/ContactUs.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Contact','Footer','Footer','Customer Service');" title="Contact Us">Contact Us</a>
					<a href="http://www.footsmart.com/OrderTracking.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Order Status','Footer','Footer','Customer Service');" title="Track My Order">Track My Order</a>
					<a href="http://returnscenter.smartlabel.com/tracking/Tracking.aspx?MerchantId=1313" onclick="fsCoremetricsOld.ElementTagWithAttributes('TrackMySmartLabelReturn','Footer','Footer','CustomerService');" title="Track My SmartLabel Return">Track My SmartLabel Return</a>
					<a href="http://www.footsmart.com/MarketingPage.aspx?pageid=753" onclick="fsCoremetricsOld.ElementTagWithAttributes('Shipping','Footer','Footer','CustomerService');" title="Shipping">Shipping</a>
					<a href="http://www.footsmart.com/MarketingPage.aspx?pageid=752" onclick="fsCoremetricsOld.ElementTagWithAttributes('Returns','Footer','Footer','CustomerService');" title="Returns &amp; Exchanges">Returns &amp; Exchanges</a>
				</div>
				<div class="globalFooter span48">
					<h5>Shopping</h5>
					<a href="http://www.footsmart.com/SiteMap.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Site','Footer','Footer','Shopping');" title="Site Map">Site Map</a>
					<a href="http://www.footsmart.com/CatalogRequest.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Catalog','Footer','Footer','Shopping');" title="Request a Catalog">Request a Catalog</a>
					<a href="javascript:setPriceDisplay('EN-US');" onclick="fsCoremetricsOld.ElementTagWithAttributes('Canadian','Footer','Footer','Shopping');" id="A1" title="Switch to Canadian Pricing"> <span id="ctl00_FooterControl_countryIcon" class="sprite icon canIcon" title="Canadian Pricing"></span>Switch to Canadian Pricing</a>
					<a href="http://www.footsmart.com/Page.aspx?pageId=1045" onclick="fsCoremetricsOld.ElementTagWithAttributes('FSOnlineCatalog','Footer','Footer','Shopping');" title="FootSmart Online Catalog">Online Catalog</a>
					<a href="http://www.footsmart.com/NewsletterSignup.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('NewsletterSignUp','Footer','Footer','Join Us');" title="Email Sign-Up">Email Sign-Up</a>
				</div>
				<div class="globalFooter span48">
					<h5>Become Social</h5>
					<a href="http://www.facebook.com/pages/FootSmart/72169484788" onclick="fsCoremetricsOld.ElementTagWithAttributes('Facebook','Footer','Footer','Join Us');" target="_blank" title="Find Us on Facebook">Find Us on Facebook</a>
					<a href="http://pinterest.com/footsmart/" onclick="fsCoremetricsOld.ElementTagWithAttributes('Pinterest','Footer','Footer','JoinUs');" target="_blank" title="Follow Us on Pinterest">Follow Us on Pinterest</a>
					<a href="http://twitter.com/FootSmart" onclick="fsCoremetricsOld.ElementTagWithAttributes('Twitter','Footer','Footer','JoinUs');" target="_blank" title="Follow Us on Twitter">Follow Us on Twitter</a>
					<a href="http://blog.footsmart.com/" onclick="fsCoremetricsOld.ElementTagWithAttributes('Blog','Footer','Footer','Join Us');" target="_blank" title="FootSmart Blog">FootSmart Blog</a>
				</div>
			</div>
			<div class="row m10t">
				<div class="span192">
					<div class="footerCopyright">
						&copy;&nbsp;1999-2013&nbsp;FootSmart.com&nbsp;&nbsp;&nbsp;
						<span id="checkoutLinks" class="footerSection">
							<span>1 (800) 707-9928</span> 
							<span style="margin: 0 15px;"><a href="http://www.footsmart.com/ContactUs.aspx" onclick="fsCoremetricsOld.ElementTagWithAttributes('Contact','Footer','Footer','Checkout Footer');" title="Contact Us">Customer Service</a></span>
						</span>
						<a href="http://www.footsmart.com/PrivacyPolicy">Privacy Policy</a> &amp; <a href="/PrivacyPolicy">Security</a><br>					
					</div>
					<script type="text/javascript">
						/* <![CDATA[ */
						var ua = navigator.userAgent.toLowerCase();
						var isSafari = (ua.indexOf('webkit') != -1);
						var isMac = (ua.indexOf('mac') != -1);

						if (isSafari || isMac) {
							var buttonStr = isMac ? 'Command/Cmd' : 'CTRL';
							var addBookmark = document.getElementById("addBookmark");
							if (addBookmark != null) {
								addBookmark.innerHTML = '';
							}
						}
						/* ]]> */
					</script>
				</div>
			</div>
			<script type="text/javascript">
				/* <![CDATA[ */
				document.observe('dom:loaded', function () {
					if ($('textNewsletterSignup')) {
						$('textNewsletterSignup').observe('keydown', function (e) {
							if (e.keyCode == Event.KEY_RETURN) {
								newsSignUp();
							}
						});
					};
				});
				/* ]]> */
			</script>					
        </div>
	</div>
</div> <!-- /container -->
