<% provide(:title, 'Footsmart Responsive Design Demo') %>

<div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">FootSmart</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container">
	<div class="row">
		<div class="span12">
			<div class="span-154 m5b">
				<div id="ctl00_MainContentPlaceHolder_ctl00_ctl01_panelSearchAdjustments">
					<div id="searchResultsBanner">
						<div class="searchText">Search Results<span class="bulletArrow"></span></div>
						<div class="searchResults">
							<h1>clarks</h1><span>(179 Items Found)</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="span12">
			<div class="row">
				<div class="span3">
				
				
					<div class="sidebarLeft span-32 m10r">
						<div id="searchBreadCrumb">
							<div class="imgTitle">
								<img src="http://www.footsmart.com/Images/searchresults-refineyour.gif" title="Refine Your Search" alt="Refine Your Search">
							</div>							
						</div>
						<div id="guidedNavigation">
							<ul id="navlist">    
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Gender</a>
									<div style="position:relative;">										
										<ul class="subnavlist">
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967233&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">Women's (150)</a>
											</li>
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967234&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">Men's (28)</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Shoe Category</a>
									<div style="position:relative;">										
										<ul class="subnavlist">
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967136&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Casual Shoes (89)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967081&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Casual Sandals (33)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966952&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Boots (33)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966985&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Dress Shoes (17)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966671&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Occupational (3)
												</a>
											</li>
										
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966636&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
														Dress Sandals (2)
												</a>
											</li>
										</ul>
									</div>
								</li>
    
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Shoe Style</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967134&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Slip-Ons (64)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967012&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Lace-Ups/Oxfords (24)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966770&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Flats (18)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966971&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Strappy Sandals (17)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966984&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Pumps (10)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966892&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Slings (8)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966890&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Fishermans (7)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966967&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Clogs/Mules (6)
													</a>
												</li>
											
												<li class="more">
													<a id="20" href="/SearchReturns.aspx?NavCmd=Ntk:All%7cclarks%7c3%7c,Nrc:id-20-dynrank-disabled&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" onclick="javascript:return false;" rel="nofollow">
															See More Options 
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Shoe Size</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966989&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															5 (68)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966988&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															5.5 (68)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967074&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															6 (108)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967076&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															6.5 (98)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967073&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															7 (129)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967133&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															7.5 (121)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967103&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															8 (121)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967130&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															8.5 (123)
													</a>
												</li>
											
												<li class="more">
													<a id="22" href="" onclick="javascript:return false;" rel="nofollow">
															See More Options 
													</a>
												</li>
											</ul>

										 <ul class="subnavlist expanded" style="display:none;">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966989&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															5 (68)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966988&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															5.5 (68)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967074&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															6 (108)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967076&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															6.5 (98)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967073&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															7 (129)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967133&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															7.5 (121)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967103&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															8 (121)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967130&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															8.5 (123)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967101&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															9 (124)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967129&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															9.5 (127)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967099&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															10 (129)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967113&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															10.5 (24)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967098&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															11 (124)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967112&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															11.5 (21)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967097&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															12 (107)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967105&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															13 (25)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967095&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															14 (16)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966998&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															15 (10)
													</a>
												</li>
											</ul>

									</div>
								</li>
							
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Shoe Width</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967079&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Narrow (58)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967132&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Medium (167)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967102&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Wide (88)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967094&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Wide Wide (18)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Color</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967131&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Brown (128)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967106&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Black (126)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967078&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Multi-Colored (92)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967096&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Blue (44)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967069&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Beige (38)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967066&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Gray (33)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966972&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Red (20)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967077&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Metallic (17)
													</a>
												</li>
											
												<li class="more">
													<a id="4" href="/SearchReturns.aspx?NavCmd=Ntk:All%7cclarks%7c3%7c,Nrc:id-4-dynrank-disabled&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" onclick="javascript:return false;" rel="nofollow">
															See More Options 
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Shoe Feature</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966992&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Removable Insoles (46)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966866&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Arch Supportive (30)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966670&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Anti-Slip/Anti-Skid (28)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966991&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Hook &amp; Loop (25)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966865&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Wedge Bottom (10)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966910&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Rocker Bottoms (6)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966951&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Waterproof (5)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966968&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Stretchable Uppers (3)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li>
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Heel Height</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967137&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under 1" (49)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966987&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															1" - 1 1/2" (67)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966986&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															1 1/2 " - 2" (23)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966648&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															2" - 2 1/2" (12)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966760&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															2 1/2" - 3" (11)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966425&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															3" &amp; Up (8)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li class="collapsed">
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Brand</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966349&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Bootights (1)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966783&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Clarks (115)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966737&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Clarks Artisan (25)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999994287&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Clarks Indigo (17)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999994286&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Clarks Privo (21)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li class="collapsed">
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Price Range</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999304&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under $20.00 (1)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999303&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under $40.00 (6)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999302&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under $60.00 (18)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999301&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under $80.00 (67)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999300&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Under $100.00 (115)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999299&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															$100.00 and up (64)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li class="collapsed">
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Ailment</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967226&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Tired, Aching Feet (1)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li class="collapsed">
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Other Shopping</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966782&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															New Arrivals (18)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966811&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															SmartBuys (4)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967150&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Clearance (39)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294966909&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Outlet (1)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
								<li class="collapsed">
									<a class="dimension" href="javascript:void(0)" rel="nofollow">Product Type</a>
									<div style="position:relative;">
										
										<ul class="subnavlist">
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967138&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Shoes (175)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a3999999896&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Slippers (2)
													</a>
												</li>
											
												<li>
													<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cN%3a4294967088&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;debug=true" rel="nofollow">
															Support Hosiery (1)
													</a>
												</li>
											</ul>

										 

									</div>
								</li>
							
									</ul>
								</div>
							

						<script language="javascript" type="text/javascript">
							if (typeof (FootSmartGlobal) != 'undefined') { FootSmartGlobal.AutoExpandedDimensionIds = [22] };
						</script>


						</div>
				

				</div>
				<div class="span9">
					<div class="row">  
						<div class="mboxDefault span9 m10b" style="visibility: visible; display: block;">
							<span id="ctl00_MainContentPlaceHolder_ctl00_ctl04_businessRuleRepeater_ctl01_ctl00" class="businessRuleItem"><a href="/Clarks-info"><img src="/assets/brandBannerClarks.jpg" height="104&quot;" width="700" alt="Clarks" title="Clarks"></a></span>
						</div>
						<script type="text/javascript">
							if (typeof (mboxCreate) != 'undefined') {
								mboxCreate('fsSearchResultsPageBanner');
							}
						</script><div id="mboxMarker-default-fsSearchResultsPageBanner-0" style="visibility:hidden;display:none">&nbsp;</div><script src="http://benchmarkbrandsinc.tt.omtrdc.net/m2/benchmarkbrandsinc/mbox/standard?mboxHost=www.footsmart.com&amp;mboxSession=1359579584084-366301&amp;mboxPC=1359579584084-366301.17_29&amp;mboxPage=1359579594336-871201&amp;screenHeight=1080&amp;screenWidth=1920&amp;browserWidth=1444&amp;browserHeight=690&amp;browserTimeOffset=-300&amp;colorDepth=32&amp;mboxCount=4&amp;mbox=fsSearchResultsPageBanner&amp;mboxId=0&amp;mboxTime=1359561594737&amp;mboxURL=http%3A%2F%2Fwww.footsmart.com%2Fclarks-s.aspx%3Fsearchterm%3Dclarks%26tama%3DUSED%26cm%3Dsb&amp;mboxReferrer=http%3A%2F%2Fwww.footsmart.com%2F&amp;mboxVersion=41" language="JavaScript"></script>
					</div>
						
					<div class="row">
						<div id="mainSearchContainer" class="span9">
							<div id="searchPagingContainer">
								<div class="sortbyBar">     
									<div class="mboxDefault" id="mboxSortBySection" style="visibility: visible; display: block;">
										<ul class="sortBar">
											<li class="firstSortBy">Sort By:</li>
											<li class="firstLink">
												<a href="javascript:void(0)" class="currentPage" rel="nofollow">Relevancy</a>
											</li>    
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cNs%3aUSPrice%7c101%7c1%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;sn=2" class="" rel="nofollow">
													Price: Low to High
												</a>
											</li>    
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cNs%3aUSPrice%7c101%7c-1%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;sn=2" class="" rel="nofollow">
													Price: High to Low
												</a>
											</li>
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cNs%3aAverageRating%7c101%7c-1%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;sn=2" class="" rel="nofollow">
													Top Rated
												</a>
											</li>						
											<li>
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cNs%3aIsClearance%7c101%7c-1%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;sn=2" class="" rel="nofollow">
													Clearance
												</a>
											</li>						
											<li class="lastLink">
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cNs%3aBestSellerOrder%7c101%7c1%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb&amp;sn=2" class="" rel="nofollow">
													Best Seller
												</a>
											</li>    
										</ul>
									</div>
									<script type="text/javascript">
										if (typeof (mboxCreate) != 'undefined') {
											mboxCreate('fsSortBySection');
										}
									</script>
									<div id="mboxMarker-default-fsSortBySection-0" style="visibility:hidden;display:none">&nbsp;</div>
									<script src="http://benchmarkbrandsinc.tt.omtrdc.net/m2/benchmarkbrandsinc/mbox/standard?mboxHost=www.footsmart.com&amp;mboxSession=1359579584084-366301&amp;mboxPC=1359579584084-366301.17_29&amp;mboxPage=1359579594336-871201&amp;screenHeight=1080&amp;screenWidth=1920&amp;browserWidth=1444&amp;browserHeight=690&amp;browserTimeOffset=-300&amp;colorDepth=32&amp;mboxCount=5&amp;mbox=fsSortBySection&amp;mboxId=0&amp;mboxTime=1359561594794&amp;mboxURL=http%3A%2F%2Fwww.footsmart.com%2Fclarks-s.aspx%3Fsearchterm%3Dclarks%26tama%3DUSED%26cm%3Dsb&amp;mboxReferrer=http%3A%2F%2Fwww.footsmart.com%2F&amp;mboxVersion=41" language="JavaScript"></script>
								</div>

								<div class="productsPageBar">            
									<ul class="productsPerPage">
										<li>View per Page:</li>    
										<li class="currentSelection"><a href="" onclick="javascript:return false">40</a></li>				
										<li class="">
											<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cArpp%3a80&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb">80</a>
										</li>    
									</ul>
									<div class="pageNavigation">                
										<ul class="pagination">
											<li>								
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="currentPageNumber" onclick="javascript:return false" style="">1</a>
											</li>						
											<li>								
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a40&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">2</a>
											</li>						
											<li>							
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a80&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">3</a>
											</li>						
											<li>								
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a120&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">4</a>
											</li>						
											<li>
												<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_PageNavigationTop_pageNumbersRepeater2_ctl05_paginationEllipsisLabel" class="paginationEllipsis">...</span>
												<a href="" class="" style="display:none;">...</a>
											</li>						
											<li>								
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a160&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">5</a>
											</li>
											<li class="next">
												<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a40&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb"></a>
											</li>
										</ul>
									</div>
									<p>177 Items</p>
								</div>
							</div>
						</div>
					</div>

					

					<div class="row">
						<div class="productGridRow clearfix span9"> 
							<div class="span9div4 productGridItem">               
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl00" title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Ashland-Rivers-Fisherman-Shoes-79922.aspx"><img title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/79922_TAN?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">
									<span class="productNew">new</span>
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl01" title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Ashland-Rivers-Fisherman-Shoes-79922.aspx">Clarks Bendables Women's Ashland Rivers Fisherman Shoes</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
								</div>    
								<div class="containerRating1"></div>
							</div>        
							<div class="span9div4 productGridItem">           				
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl00" title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Falcon-Lace-Up-Shoes-76349.aspx"><img title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/76349_GREY_SUEDE?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">						
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl01" title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Falcon-Lace-Up-Shoes-76349.aspx">Clarks Privo Women's Haley Falcon Lace-Up Shoes</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl03" class="productRegularPrice"> $79.99</span>
								</div>    
								<div class="containerRating2">        
									<div class="starsDiv clearfix">
										<div class="backgroundStarsEmpty"></div>
										<div class="StarRating" style="width:80%;"></div>
									</div>        
								</div>				
							</div>        
							<div class="span9div4 productGridItem">               				
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl00" title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Stork-Slip-On-Shoes-79923.aspx"><img title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/79923_BEIGE?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">
									<span class="productNew">new</span>
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl01" title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Stork-Slip-On-Shoes-79923.aspx">Clarks Privo Women's Haley Stork Slip-On Shoes</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
								</div>					
								<div class="containerRating3"></div>				
							</div>        
							<div class="span9div4 productGridItem">            				
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl00" title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Lexi-Bark-Slide-Sandals-86314.aspx"><img title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/86314_SAND?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">					
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl01" title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Lexi-Bark-Slide-Sandals-86314.aspx">Clarks Bendables Women's Lexi Bark Slide Sandals</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
								</div>					
								<div class="containerRating4">        
									<div class="starsDiv clearfix">
										<div class="backgroundStarsEmpty"></div>
										<div class="StarRating" style="width:90%;"></div>
									</div>       
								</div>				
							</div>        
						</div>
						
						<div class="productGridRow clearfix span9"> 
							<div class="span9div4 productGridItem">               
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl00" title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Ashland-Rivers-Fisherman-Shoes-79922.aspx"><img title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/79922_TAN?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">
									<span class="productNew">new</span>
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl01" title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Ashland-Rivers-Fisherman-Shoes-79922.aspx">Clarks Bendables Women's Ashland Rivers Fisherman Shoes</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
								</div>    
								<div class="containerRating1"></div>
							</div>        
							<div class="span9div4 productGridItem">           				
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl00" title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Falcon-Lace-Up-Shoes-76349.aspx"><img title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/76349_GREY_SUEDE?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">						
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl01" title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Falcon-Lace-Up-Shoes-76349.aspx">Clarks Privo Women's Haley Falcon Lace-Up Shoes</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl03" class="productRegularPrice"> $79.99</span>
								</div>    
								<div class="containerRating2">        
									<div class="starsDiv clearfix">
										<div class="backgroundStarsEmpty"></div>
										<div class="StarRating" style="width:80%;"></div>
									</div>        
								</div>				
							</div>        
							<div class="span9div4 productGridItem">               				
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl00" title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Stork-Slip-On-Shoes-79923.aspx"><img title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/79923_BEIGE?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">
									<span class="productNew">new</span>
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl01" title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Stork-Slip-On-Shoes-79923.aspx">Clarks Privo Women's Haley Stork Slip-On Shoes</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
								</div>					
								<div class="containerRating3"></div>				
							</div>        
							<div class="span9div4 productGridItem">            				
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl00" title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Lexi-Bark-Slide-Sandals-86314.aspx"><img title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/86314_SAND?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">					
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl01" title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Lexi-Bark-Slide-Sandals-86314.aspx">Clarks Bendables Women's Lexi Bark Slide Sandals</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
								</div>					
								<div class="containerRating4">        
									<div class="starsDiv clearfix">
										<div class="backgroundStarsEmpty"></div>
										<div class="StarRating" style="width:90%;"></div>
									</div>       
								</div>				
							</div>        
						</div>
						
						<div class="productGridRow clearfix span9"> 
							<div class="span9div4 productGridItem">               
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl00" title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Ashland-Rivers-Fisherman-Shoes-79922.aspx"><img title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/79922_TAN?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">
									<span class="productNew">new</span>
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl01" title="Clarks Bendables Women's Ashland Rivers Fisherman Shoes - 79922" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Ashland-Rivers-Fisherman-Shoes-79922.aspx">Clarks Bendables Women's Ashland Rivers Fisherman Shoes</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl00_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
								</div>    
								<div class="containerRating1"></div>
							</div>        
							<div class="span9div4 productGridItem">           				
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl00" title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Falcon-Lace-Up-Shoes-76349.aspx"><img title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/76349_GREY_SUEDE?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">						
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl01" title="Clarks Privo Women's Haley Falcon Lace-Up Shoes - 76349" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Falcon-Lace-Up-Shoes-76349.aspx">Clarks Privo Women's Haley Falcon Lace-Up Shoes</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl01_ProductGridItem_ctl03" class="productRegularPrice"> $79.99</span>
								</div>    
								<div class="containerRating2">        
									<div class="starsDiv clearfix">
										<div class="backgroundStarsEmpty"></div>
										<div class="StarRating" style="width:80%;"></div>
									</div>        
								</div>				
							</div>        
							<div class="span9div4 productGridItem">               				
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl00" title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Stork-Slip-On-Shoes-79923.aspx"><img title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/79923_BEIGE?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">
									<span class="productNew">new</span>
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl01" title="Clarks Privo Women's Haley Stork Slip-On Shoes - 79923" href="http://www.footsmart.com/P-Clarks-Privo-Womens-Haley-Stork-Slip-On-Shoes-79923.aspx">Clarks Privo Women's Haley Stork Slip-On Shoes</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl02_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
								</div>					
								<div class="containerRating3"></div>				
							</div>        
							<div class="span9div4 productGridItem">            				
								<div class="productImg">
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl00" title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Lexi-Bark-Slide-Sandals-86314.aspx"><img title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/86314_SAND?$135X135$" style="border-width:0px;"></a>
								</div>
								<div class="productTitle">					
									<a id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl01" title="Clarks Bendables Women's Lexi Bark Slide Sandals - 86314" href="http://www.footsmart.com/P-Clarks-Bendables-Womens-Lexi-Bark-Slide-Sandals-86314.aspx">Clarks Bendables Women's Lexi Bark Slide Sandals</a>
								</div>
								<div class="productPrice">
									<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl02" class="productStrikeOutWasPriceSmall"></span><span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_ProductGridListView_ctrl0_ctl03_ProductGridItem_ctl03" class="productRegularPrice"> $75.99</span>
								</div>					
								<div class="containerRating4">        
									<div class="starsDiv clearfix">
										<div class="backgroundStarsEmpty"></div>
										<div class="StarRating" style="width:90%;"></div>
									</div>       
								</div>				
							</div>        
						</div>
						<div class="productsPageBar bottomPageNav span9">
							<div class="pageNavigation">            
								<ul class="pagination">
									<li>
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="currentPageNumber" onclick="javascript:return false" style="">1</a>
									</li>				
									<li>						
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a40&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">2</a>
									</li>				
									<li>						
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a80&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">3</a>
									</li>				
									<li>						
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a120&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">4</a>
									</li>				
									<li>
										<span id="ctl00_MainContentPlaceHolder_ctl00_ctl05_PageNavigationBottom_pageNumbersRepeater2_ctl05_paginationEllipsisLabel" class="paginationEllipsis">...</span>
									</li>			
									<li>					
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a160&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb" class="" style="">5</a>
									</li>
									<li class="next">
										<a href="http://www.footsmart.com/clarks-s.aspx?NavCmd=Ntk%3aAll%7cclarks%7c3%7c%2cAro%3a40&amp;searchterm=clarks&amp;tama=USED&amp;cm=sb"></a>
									</li>
								</ul>
							</div>
							<p>177 Items</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> <!-- /container -->
