<% provide(:title, 'Footsmart Bootstrap Demo - Product Detail Page') %>

<div id="mainContent" class="container">	       
    <input name="ctl00$MainContentPlaceHolder$productIdHidden" type="hidden" id="ctl00_MainContentPlaceHolder_productIdHidden">
    <input id="coremetricsCategoryId" type="hidden" name="coremetricsCategoryId" value="recs_mega_mshoe">
    <input id="productReferrer" type="hidden" name="productReferrer" value="0">
    <input id="coremetricsAttributes" type="hidden" name="coremetricsAttributes" value="Multi-View@VisualLook@89@XSELL-Multiple-Sections@@@@SearchKey:">
    <input name="ctl00$MainContentPlaceHolder$sizeChartImagePathHidden" type="hidden" id="ctl00_MainContentPlaceHolder_sizeChartImagePathHidden">
	<div class="row">
		<div class="span192">
			<div id="breadcrumbs"><a href="Default.aspx" id="backtoBrowsing" class="BackToBrowsingHyperLink">&lt;&nbsp;Back to Browsing</a></div>
		</div>
	</div>
	<div class="row">
		<div class="span192">
			<div class="row">
				<div class="span90">
					<div id="MultiViewModule">
						<style type="text/css">div#productImageViewer div#izView {width: 420px; height: 420px; position: relative; } </style>
						<div id="productImageViewer">
							<div id="izView" class="productDisplay"> 
								<div id="SjElement3_base" style="position: relative;">
									<table id="SjElement3_tbl_base" cellspacing="0" cellpadding="0"> 
										<tbody>
											<tr>
												<td>
													<img id="SjElement3_img" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/images/spacer.gif" style="position: absolute; left: 0px; top: 0px; width: 420px; height: 0px; background-color: rgb(255, 255, 255);" border="0"> 
													<div id="SjElement3" style="position: absolute; left: 0px; top: 0px; width: 420px; height: 420px;"> 
														<div id="SjElement4" style="position: absolute; text-align: left; overflow: hidden; width: 420px; height: 420px; clip: rect(0px 334px 341px 0px); visibility: inherit; left: 0px; top: 0px; background-color: rgb(255, 255, 255);">
															<div id="foreImageSjElement4" style="position: absolute; text-align: left; overflow: hidden; visibility: inherit; width: 420px; height: 420px; z-index: 1; left: 0px; top: 4px; opacity: 0.99;"> 
																<img id="foreImageSjElement4_img" name="foreImageSjElement4_img" border="0" style="position: absolute; left: 0px; top: 0px; width: 420px; height: 420px;" usemap="" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/78140_BROWNIE_BLACK?fmt=jpeg,rgb&amp;qlt=85,1&amp;op_sharpen=1&amp;resMode=bicub&amp;op_usm=1,1,8,0&amp;iccEmbed=0&amp;rgn=0,0,2000,2000&amp;scl=6.024096385542169"> 
															</div>
															<div id="backImageSjElement4" style="position: absolute; text-align: left; overflow: hidden; visibility: inherit; width: 420px; height: 420px; left: 0px; top: 4px;"> 
																<img id="backImageSjElement4_img" name="backImageSjElement4_img" border="0" style="position: absolute; left: 0px; top: 0px; width: 420px; height: 420px;" usemap="" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/78140_BROWNIE_BLACK?fmt=jpeg,rgb&amp;qlt=85,1&amp;op_sharpen=1&amp;resMode=bicub&amp;op_usm=1,1,8,0&amp;iccEmbed=0&amp;rgn=0,0,2000,2000&amp;scl=6.024096385542169"> 
															</div>
															<div id="mapImageSjElement4" style="position: absolute; text-align: left; overflow: hidden; visibility: inherit; width: 420px; height: 420px; z-index: 2; left: 0px; top: 4px;"> 
																<img id="mapImageSjElement4_img" name="mapImageSjElement4_img" border="0" style="position: absolute; left: 0px; top: 0px; width: 420px; height: 420px;" usemap="" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/images/spacer.gif"> 
															</div>
															<div id="waitIconSjElement4" style="position: absolute; text-align: left; overflow: hidden; visibility: hidden; z-index: 2; width: 10px; height: 10px;"> 
																<img id="waitIconSjElement4_img" name="waitIconSjElement4_img" border="0" style="position:absolute;left:0;top:0;" usemap=""> 
															</div>
														</div>
														<div id="closeButtonSjElement4" style="position: absolute; text-align: left; overflow: hidden; z-index: 11; width: 20px; height: 20px; visibility: hidden;"> 
															<img id="closeButtonSjElement4_img" name="closeButtonSjElement4_img" border="0" style="position:absolute;left:0;top:0;" usemap=""> 
														</div>
														<div id="plusButtonSjElement4" style="position: absolute; text-align: left; overflow: hidden; z-index: 11; width: 20px; height: 20px; visibility: hidden;"> 
															<img id="plusButtonSjElement4_img" name="plusButtonSjElement4_img" border="0" style="position:absolute;left:0;top:0;" usemap=""> 
														</div>
														<div id="minusButtonSjElement4" style="position: absolute; text-align: left; overflow: hidden; z-index: 11; width: 20px; height: 20px; visibility: hidden;"> 
															<img id="minusButtonSjElement4_img" name="minusButtonSjElement4_img" border="0" style="position:absolute;left:0;top:0;" usemap=""> 
														</div>
														<div id="resetButtonSjElement4" style="position: absolute; text-align: left; overflow: hidden; z-index: 11; width: 20px; height: 20px; visibility: hidden;"> 
															<img id="resetButtonSjElement4_img" name="resetButtonSjElement4_img" border="0" style="position:absolute;left:0;top:0;" usemap=""> 
														</div>
														<div id="infoButtonSjElement4" style="position: absolute; text-align: left; overflow: hidden; z-index: 11; width: 20px; height: 20px; visibility: hidden;"> 
															<img id="infoButtonSjElement4_img" name="infoButtonSjElement4_img" border="0" style="position:absolute;left:0;top:0;" usemap=""> 
														</div>
													</div>  
												</td>
											</tr> 
										</tbody>
									</table> 
								</div> 
							</div>	
			
							<div id="controls">
								<div class="control enlarge">
									<a id="ctl00_MainContentPlaceHolder_prodImageViewer_EnlargeLink" class="controlButton enlarge" href="javascript:void(0);"></a>
								</div>
								<div class="control zoomIn">
									<a id="ctl00_MainContentPlaceHolder_prodImageViewer_ZoomInLink" class="controlButton zoomIn" href="javascript:void(0);"></a>
								</div>
								<div class="control zoomOut">
									<a id="ctl00_MainContentPlaceHolder_prodImageViewer_ZoomOutLink" class="controlButton zoomOut disabled" href="javascript:void(0);"></a>
								</div>
							</div>
				  
							<div id="multiViewArea" class="clearfix">
								<div id="multiView">
									<img id="pm_78140_BROWNIE_BLACK" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/78140_BROWNIE_BLACK?wei=70&hei=70" class=" DefaultAngle">
									<img id="pm_78140_BROWNIE_BLACK_1" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/78140_BROWNIE_BLACK_1?wei=70&hei=70" class="">
									<img id="pm_78140_BROWNIE_BLACK_2" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/78140_BROWNIE_BLACK_2?wei=70&hei=70" class="">
									<img id="pm_78140_BROWNIE_BLACK_3" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/78140_BROWNIE_BLACK_3?wei=70&hei=70" class="">
									<img id="pm_78140_BROWNIE_BLACK_4" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/78140_BROWNIE_BLACK_4?wei=70&hei=70" class="">
									<img id="pm_78140_BROWNIE_BLACK_5" src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/78140_BROWNIE_BLACK_5?wei=70&hei=70" class="">
								</div>
							</div>
					
							<div id="alternateViewArea" class="clearfix">
								<ul id="alternateProductImages">
									<li>                
										<img id="pm_7079" src="http://s7d1.scene7.com/is/image/BenchmarkBrands/MACHINE%5FWASHABLE?$72x72$" alt="This Product is Machine Washable" class="Popup">               
									</li>
								</ul>
							</div>		

							<div id="errorSummary" style="display: none;"></div>
				
						</div>

						<script language="javascript" src="http://www.footsmart.com/Script/scene7.js" type="text/javascript"></script><script language="JavaScript" type="text/javascript" src=" http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/sj_zoom.js"></script><script language="javascript" type="text/javascript" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/3.9/sj_resource.js"></script><script language="javascript" type="text/javascript" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/3.9/sj_config.js"></script><script language="javascript" type="text/javascript" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/3.9/sj_browser.js"></script><script language="javascript" type="text/javascript" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/3.9/sj_core.js"></script><script language="javascript" type="text/javascript" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/3.9/sj_textloader.js"></script><script language="javascript" type="text/javascript" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/3.9/sj_hashtable.js"></script><script language="javascript" type="text/javascript" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/3.9/sj_element.js"></script><script language="javascript" type="text/javascript" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/3.9/sj_layer.js"></script><script language="javascript" type="text/javascript" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/3.9/sj_picture.js"></script><script language="javascript" type="text/javascript" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/3.9/sj_zoom.js"></script><script language="javascript" type="text/javascript" src="http://s7ondemand1.scene7.com/is-viewers-3.9/dhtml/3.9/sj_zoomviewer.js"></script>
						<script type="text/javascript">
							if (typeof(ProductImageViewer) != 'undefined')
							{
								var fsProductMedia = {"AllowZoom":true,"DefaultColor":"BROWNIE_BLACK","DefaultColorId":1759,"EnlargeImageFileName":null,"IsColorSwatch":true,"MainImageAltText":"Propet Men's Scotchgard Leather Walker Slip-On Shoes - ","MainImageURL":"http:\/\/s7ondemand1.scene7.com\/is\/image\/BenchmarkBrands\/78140_BROWNIE_BLACK?$200x200$","ProductMedia":[{"Angle":"","Color":"GUNSMOKE\/BLACK","ColorId":2260,"DisplayOrder":0,"GroupType":2,"Height":null,"Id":"pm_8965","PopUpId":null,"ThumbUrl":"","Title":"Default View","Type":3,"Url":null,"Width":null},{"Angle":"","Color":"BLACK SUEDE","ColorId":298,"DisplayOrder":0,"GroupType":2,"Height":null,"Id":"pm_8955","PopUpId":null,"ThumbUrl":"","Title":"Default View","Type":3,"Url":null,"Width":null},{"Angle":"","Color":"BROWNIE\/BLACK","ColorId":1759,"DisplayOrder":0,"GroupType":2,"Height":null,"Id":"pm_78140_BROWNIE_BLACK_1","PopUpId":null,"ThumbUrl":"http:\/\/s7ondemand1.scene7.com\/is\/image\/BenchmarkBrands\/78140_BROWNIE_BLACK_1?$MVThumb$","Title":"Default View","Type":3,"Url":null,"Width":null},{"Angle":"1","Color":"BROWNIE\/BLACK","ColorId":1759,"DisplayOrder":1,"GroupType":2,"Height":200,"Id":"pm_78140_BROWNIE_BLACK_1","PopUpId":0,"ThumbUrl":"http:\/\/s7ondemand1.scene7.com\/is\/image\/BenchmarkBrands\/78140_BROWNIE_BLACK_1?$MVThumb$","Title":"","Type":3,"Url":"","Width":200},{"Angle":"1","Color":"BLACK SUEDE","ColorId":298,"DisplayOrder":1,"GroupType":2,"Height":200,"Id":"pm_8955","PopUpId":0,"ThumbUrl":"","Title":"","Type":3,"Url":"","Width":200},{"Angle":"1","Color":"GUNSMOKE\/BLACK","ColorId":2260,"DisplayOrder":1,"GroupType":2,"Height":200,"Id":"pm_8965","PopUpId":0,"ThumbUrl":"","Title":"","Type":3,"Url":"","Width":200},{"Angle":"2","Color":"BROWNIE\/BLACK","ColorId":1759,"DisplayOrder":2,"GroupType":2,"Height":200,"Id":"pm_78140_BROWNIE_BLACK_2","PopUpId":0,"ThumbUrl":"http:\/\/s7ondemand1.scene7.com\/is\/image\/BenchmarkBrands\/78140_BROWNIE_BLACK_2?$MVThumb$","Title":"","Type":3,"Url":"","Width":200},{"Angle":"2","Color":"GUNSMOKE\/BLACK","ColorId":2260,"DisplayOrder":2,"GroupType":2,"Height":200,"Id":"pm_8966","PopUpId":0,"ThumbUrl":"","Title":"","Type":3,"Url":"","Width":200},{"Angle":"2","Color":"BLACK SUEDE","ColorId":298,"DisplayOrder":2,"GroupType":2,"Height":200,"Id":"pm_8956","PopUpId":0,"ThumbUrl":"","Title":"","Type":3,"Url":"","Width":200},{"Angle":"3","Color":"BROWNIE\/BLACK","ColorId":1759,"DisplayOrder":3,"GroupType":2,"Height":200,"Id":"pm_78140_BROWNIE_BLACK_3","PopUpId":0,"ThumbUrl":"http:\/\/s7ondemand1.scene7.com\/is\/image\/BenchmarkBrands\/78140_BROWNIE_BLACK_3?$MVThumb$","Title":"","Type":3,"Url":"","Width":200},{"Angle":"3","Color":"GUNSMOKE\/BLACK","ColorId":2260,"DisplayOrder":3,"GroupType":2,"Height":200,"Id":"pm_8967","PopUpId":0,"ThumbUrl":"","Title":"","Type":3,"Url":"","Width":200},{"Angle":"3","Color":"BLACK SUEDE","ColorId":298,"DisplayOrder":3,"GroupType":2,"Height":200,"Id":"pm_8957","PopUpId":0,"ThumbUrl":"","Title":"","Type":3,"Url":"","Width":200},{"Angle":"4","Color":"BROWNIE\/BLACK","ColorId":1759,"DisplayOrder":4,"GroupType":2,"Height":200,"Id":"pm_78140_BROWNIE_BLACK_4","PopUpId":0,"ThumbUrl":"http:\/\/s7ondemand1.scene7.com\/is\/image\/BenchmarkBrands\/78140_BROWNIE_BLACK_4?$MVThumb$","Title":"","Type":3,"Url":"","Width":200},{"Angle":"4","Color":"BLACK SUEDE","ColorId":298,"DisplayOrder":4,"GroupType":2,"Height":200,"Id":"pm_8958","PopUpId":0,"ThumbUrl":"","Title":"","Type":3,"Url":"","Width":200},{"Angle":"4","Color":"GUNSMOKE\/BLACK","ColorId":2260,"DisplayOrder":4,"GroupType":2,"Height":200,"Id":"pm_8968","PopUpId":0,"ThumbUrl":"","Title":"","Type":3,"Url":"","Width":200},{"Angle":"5","Color":"BROWNIE\/BLACK","ColorId":1759,"DisplayOrder":5,"GroupType":2,"Height":200,"Id":"pm_78140_BROWNIE_BLACK_5","PopUpId":0,"ThumbUrl":"http:\/\/s7ondemand1.scene7.com\/is\/image\/BenchmarkBrands\/78140_BROWNIE_BLACK_5?$MVThumb$","Title":"","Type":3,"Url":"","Width":200},{"Angle":"5","Color":"BLACK SUEDE","ColorId":298,"DisplayOrder":5,"GroupType":2,"Height":200,"Id":"pm_8959","PopUpId":0,"ThumbUrl":"","Title":"","Type":3,"Url":"","Width":200},{"Angle":"5","Color":"GUNSMOKE\/BLACK","ColorId":2260,"DisplayOrder":5,"GroupType":2,"Height":200,"Id":"pm_8969","PopUpId":0,"ThumbUrl":"","Title":"","Type":3,"Url":"","Width":200},{"Angle":"","Color":"","ColorId":0,"DisplayOrder":100,"GroupType":1,"Height":410,"Id":"pm_7079","PopUpId":86,"ThumbUrl":"http:\/\/s7d1.scene7.com\/is\/image\/BenchmarkBrands\/MACHINE%5FWASHABLE?$72x72$","Title":"This Product is Machine Washable","Type":5,"Url":"","Width":410}],"ProductTitle":"Propet Men's Scotchgard Leather Walker Slip-On Shoes","ShortSKU":"78140","ShowMultiAngleView":true,"UseScene7":true};
								var fsImageModule = new ProductImageViewer(fsProductMedia);
							}
						</script>
					</div>
					<div id="overallRatingModule" class="m10t">
						<div id="ctl00_MainContentPlaceHolder_overallRatingModule_OverallRatingPanel">	
							<div id="overallRatingContainer">
								<div class="reviewShadedBackgroundTop">
									<div class="reviewPadding">
										<div id="ctl00_MainContentPlaceHolder_overallRatingModule_Rating_productRatingPanel">		
											<ul class="ratingStars clearfix">
												<li class="ratingTitle">Customer Reviews</li>
												<li class="ratingStarsImage">   
													<div class="starsDiv clearfix">
														<div class="backgroundStarsEmpty"></div>
														<div class="StarRating" style="width:92%;"></div>
													</div>
												</li>
												<li class="ratingAvg">4.6 of 5</li>	
											</ul>
											<div class="percentRecommendedLarge">
												<span class="percentRecommendedRed">90% of customers</span> would recommend this to a friend (27 out of 30)
											</div>
										</div>
									</div>
								</div>
								<div class="reviewPadding">
									<div class="reviewSeparationFade"></div>
									<div id="ctl00_MainContentPlaceHolder_overallRatingModule_slidersTitle" class="ratingBoldTextGray">Other Shoppers say...</div>
								</div>
								<div id="ctl00_MainContentPlaceHolder_overallRatingModule_overallRatingSliders" class="overallRatingModule_overallRatingSliders">
									<div class="slider">
										<div class="reviewPadding">
											<div class="ratingBoldTextBlack">Arch Support</div>
											<div class="chartLine">
												<img src="http://www.footsmart.com/images/dotCheck.gif" style="position:relative;top:0px; left:57%;" alt="">
											</div>
											<div class="clearfix">
												<div class="sliderMinimum">No Arch Support</div>
												<div class="sliderMaximum">Great Arch Support</div>
											</div>
										</div>
									</div>		
									<div class="slider">
										<div class="reviewPadding">
											<div class="ratingBoldTextBlack">Comfort</div>
											<div class="chartLine">
												<img src="http://www.footsmart.com/images/dotCheck.gif" style="position:relative;top:0px; left:57%;" alt="">
											</div>
											<div class="clearfix">
												<div class="sliderMinimum">Minimal Cushioning</div>
												<div class="sliderMaximum">Extra Cushioning</div>
											</div>
										</div>
									</div>		
									<div class="slider">
										<div class="reviewPadding">
											<div class="ratingBoldTextBlack">True to Size</div>
											<div class="chartLine">
												<img src="http://www.footsmart.com/images/dotCheck.gif" style="position:relative;top:0px; left:45%;" alt="">
											</div>
											<div class="clearfix">
												<div class="sliderMinimum">Length Runs Small</div>
												<div class="sliderMaximum">Length Runs Large</div>
											</div>
										</div>
									</div>
									<div class="slider">
										<div class="reviewPadding">
											<div class="ratingBoldTextBlack">Width</div>
											<div class="chartLine">
												<img src="http://www.footsmart.com/images/dotCheck.gif" style="position:relative;top:0px; left:34%;" alt="">
											</div>
											<div class="clearfix">
												<div class="sliderMinimum">Width Runs Narrow</div>
												<div class="sliderMaximum">Width Runs Wide</div>
											</div>
										</div>
									</div>		     
								</div>

								<div class="reviewShadedBackgroundBottom">
									<div class="clearfix">
										<ul id="overallRatingFooter">
											<li class="overallRatingFooterItem"><a href="javascript:void(0);" id="overallRatingViewAllReviewsLink" class="readAllReviews">Read all reviews</a></li>
											<li class="overallRatingFooterItem" style="color:#cccccc;">|</li>
											<li class="overallRatingFooterItem"><a href="http://reviews.footsmart.com/4007/11442/writereview.htm?format=embedded&amp;campaignid=BV_RATING_SUMMARY&amp;return=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx&amp;innerreturn=http://reviews.footsmart.com/4007/11442/reviews.htm?format=embedded&amp;sort=rating&amp;user=__USERID__&amp;submissionparams=__BVSUBMISSIONPARAMETERS__&amp;submissionurl=__BVSUBMISSIONURL__">Write a product review</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>  
				</div>
				<div class="span4"></div>
				<div class="span98">            
					<div id="ProductPurchaseDetails" class="nonkit">
						<div id="TitleArea">
							<table width="500">
								<tbody>
									<tr>
										<td width="75%">
											<div id="titleText">
												<h1 id="titleTextHeader">Propet Men's Scotchgard Leather Walker Slip-On Shoes</h1>
												<span class="shortSku">Item #: 78140</span>
												<div id="ctl00_MainContentPlaceHolder_prodPurchaseDetails_ratingModule_productRatingPanel">
													<ul class="ratingStars clearfix">											
														<li>												
															<div class="starsDiv clearfix">
																<div class="backgroundStarsEmpty"></div>
																<div class="StarRating" style="width:92%;"></div>
															</div>		
														</li>
														<li><a href="javascript:reviews.ViewAllReviews();" class="readAllReviews">Read 30 Reviews</a></li>
													</ul>
													<div class="percentRecommended">
														<span style="font-weight:bold;">90%</span> of <span style="font-weight:bold;">customers</span> would recommend this to a friend (27 out of 30)
													</div>
												</div>
											</div>
										</td>
										<td width="25%" id="pricing" class="price">                    
											<span id="ctl00_MainContentPlaceHolder_prodPurchaseDetails_priceLabel" class="price"> $69.99</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>     
						<div id="PSWC" class="clearfix visual bottomBorder">        
							<div class="kitInstructions">
								<div class="redArrow" style="display:none"></div>            
							</div>                
							<div id="component1" class="component clearfix">
								<input type="hidden" id="selectedComponentValues1" name="selectedComponentValues1" value="0|0|0">
								<input type="hidden" id="selectedPSWCId1" name="selectedPSWCId1">
								<div class="">
									<div id="sizeDimension1" class="dimensionBox">                
										<div class="title">
											<label class="componentLabel" id="ctl00_MainContentPlaceHolder_prodPurchaseDetails_productComponent1_sizeLabel">1.  Select Size:</label>
											<span class="displayValue"></span>
											<div class="redArrow" style="display:none"></div>
										</div>                 
										<ul class="visualizationSelectors clearfix sizeVisualization" id="">							
											<li id="prod1_size_8" class="available" title="Click to select 8">
												<div>8</div>        
											</li>							
											<li id="prod1_size_9" class="available" title="Click to select 8.5">
												<div>8.5</div>        
											</li>							
											<li id="prod1_size_10" class="available" title="Click to select 9">
												<div>9</div>        
											</li>							
											 <li id="prod1_size_11" class="available" title="Click to select 9.5">
												<div>9.5</div>        
											</li>							
											 <li id="prod1_size_12" class="available" title="Click to select 10">
												<div>10</div>        
											</li>    
											<li id="prod1_size_13" class="available" title="Click to select 10.5">
												<div>10.5</div>        
											</li>							
											<li id="prod1_size_14" class="available" title="Click to select 11">
												<div>11</div>        
											</li>							
											<li id="prod1_size_15" class="available" title="Click to select 11.5">
												<div>11.5</div>        
											</li>							
											<li id="prod1_size_16" class="available" title="Click to select 12">
												<div>12</div>        
											</li>    
											<li id="prod1_size_18" class="available" title="Click to select 13">
												<div>13</div>        
											</li>    
											<li id="prod1_size_19" class="available" title="Click to select 14">
												<div>14</div>        
											</li>    
											<li id="prod1_size_583" class="available" title="Click to select 15">
												<div>15</div>        
											</li>
										</ul>                 
									</div>
									<div id="widthDimension1" class="dimensionBox">                
										<div class="title">
											<label class="componentLabel" id="ctl00_MainContentPlaceHolder_prodPurchaseDetails_productComponent1_widthLabel">2. Select Width:</label>
											<span class="displayValue"></span>
											<div class="redArrow" style="display:none"></div> 
										</div>                    
										<ul class="visualizationSelectors clearfix widthVisualization" id="">    
											<li id="prod1_width_12" class="available" title="Click to select M/D (Medium)">
												<div>M/D (Medium)</div>        
											</li>							
											<li id="prod1_width_13" class="available" title="Click to select W/3E (Wide)">
												<div>W/3E (Wide) </div>        
											</li>							
											<li id="prod1_width_33" class="available" title="Click to select WW/5E (Wide Wide)">
												<div>WW/5E (Wide Wide)</div>        
											</li>
										</ul>
									</div>                    
									<div id="colorDimension1" class="dimensionBox">                 
										<div class="title">
											<label class="componentLabel" id="ctl00_MainContentPlaceHolder_prodPurchaseDetails_productComponent1_colorLabel">3. Select Color:</label>
											<span class="displayValue"></span>
											<div class="redArrow" style="display:none"></div>
										</div>								
										<ul class="visualizationSelectors clearfix colorVisualization" id="">									
											 <li id="prod1_color_18_Tan" class="available" title="Click to select Tan" style="">
												<div>
													<span class="hidden"></span>
													<span class="OneColor" style="background-color:#5D3E2C;"></span>
												</div>        
											</li>									
											 <li id="prod1_color_1_Black" class="available" title="Click to select Black" style="">
												<div>
													<span class="hidden"></span>
													<span class="OneColor" style="background-color:#000000;"></span>
												</div>        
											</li>									
											 <li id="prod1_color_253_Sport White" class="available" title="Click to select Sport White" style="">
												<div>
													<span class="hidden"></span>
													<span class="OneColor" style="background-color:#FFFFFF;"></span>
												</div>        
											</li>
										</ul>
									</div> 
								</div>  
							</div>
							<div id="sizeChart">
								<a id="ctl00_MainContentPlaceHolder_prodPurchaseDetails_availibilityChartLink" href="javaScript:pdp.ShowAvailibilityChart(11442)">View Product Availability</a>
							</div>
						</div>
						<div id="ctl00_MainContentPlaceHolder_prodPurchaseDetails_AddToCart" class="addToCart clearfix">
							<div class="left" style="width:222px;">
								<div style="float:left; width:145px;">
									<label class="componentLabel" id="ctl00_MainContentPlaceHolder_prodPurchaseDetails_finalStep" style="line-height:20px;">4. Select Quantity:</label>
									<p></p>
								</div>
								<div style="float:right; text-align:right; width:77px;">
									<select name="ctl00$MainContentPlaceHolder$prodPurchaseDetails$quantityDDL" id="ctl00_MainContentPlaceHolder_prodPurchaseDetails_quantityDDL" style="margin: 0px;">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
									</select>
								</div>
							</div>           
							<div id="AddToCart" class="right">
								<div style="min-height:19px; margin-bottom:5px;">
									<img id="stockIcon" src="http://www.footsmart.com/images/productdetailpage/StockIcon.gif" alt="In Stock" style="display: none;">
									<div id="backOrder" style="display:none;">Your selection is temporarily out-of-stock. To order the item, please click 'Add to Cart' and it will be shipped to you as soon as it is available (normally 5-15 days).</div>
								</div>
								<div>
									<a onclick="javascript:return GetFootSmartObject(pdp, FootSmartProductDetailPage).AddToCart();" id="ctl00_MainContentPlaceHolder_prodPurchaseDetails_addToCartButton" class="addToCartButton" href="javascript:__doPostBack('ctl00$MainContentPlaceHolder$prodPurchaseDetails$addToCartButton','')"><img src="http://www.footsmart.com/Images/addcart_greeninitial.jpg" alt="Add To Cart"></a>
								</div>
							</div>
						</div>
						<script type="text/javascript">
							var FootSmartPSWC = {"Components":[{"ColorErrorMsg":"Please select a color.","LongSKUs":[{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330855,"Size":{"DisplayOrder":0,"Id":8,"Value":"8"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330944,"Size":{"DisplayOrder":0,"Id":8,"Value":"8"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331127,"Size":{"DisplayOrder":0,"Id":8,"Value":"8"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331126,"Size":{"DisplayOrder":0,"Id":8,"Value":"8"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330189,"Size":{"DisplayOrder":0,"Id":8,"Value":"8"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331824,"Size":{"DisplayOrder":0,"Id":8,"Value":"8"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330592,"Size":{"DisplayOrder":0,"Id":8,"Value":"8"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330593,"Size":{"DisplayOrder":0,"Id":8,"Value":"8"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331617,"Size":{"DisplayOrder":0,"Id":8,"Value":"8"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331225,"Size":{"DisplayOrder":1,"Id":9,"Value":"8.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330267,"Size":{"DisplayOrder":1,"Id":9,"Value":"8.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330005,"Size":{"DisplayOrder":1,"Id":9,"Value":"8.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330423,"Size":{"DisplayOrder":1,"Id":9,"Value":"8.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331319,"Size":{"DisplayOrder":1,"Id":9,"Value":"8.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331720,"Size":{"DisplayOrder":1,"Id":9,"Value":"8.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":3,"Id":1763,"Value":"Denim Blue\/Black"},"Id":331035,"Size":{"DisplayOrder":1,"Id":9,"Value":"8.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330424,"Size":{"DisplayOrder":1,"Id":9,"Value":"8.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330671,"Size":{"DisplayOrder":1,"Id":9,"Value":"8.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331128,"Size":{"DisplayOrder":1,"Id":9,"Value":"8.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331523,"Size":{"DisplayOrder":2,"Id":10,"Value":"9"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331320,"Size":{"DisplayOrder":2,"Id":10,"Value":"9"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":329921,"Size":{"DisplayOrder":2,"Id":10,"Value":"9"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":329920,"Size":{"DisplayOrder":2,"Id":10,"Value":"9"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331037,"Size":{"DisplayOrder":2,"Id":10,"Value":"9"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330190,"Size":{"DisplayOrder":2,"Id":10,"Value":"9"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":3,"Id":1763,"Value":"Denim Blue\/Black"},"Id":331036,"Size":{"DisplayOrder":2,"Id":10,"Value":"9"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331524,"Size":{"DisplayOrder":2,"Id":10,"Value":"9"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331825,"Size":{"DisplayOrder":2,"Id":10,"Value":"9"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330006,"Size":{"DisplayOrder":2,"Id":10,"Value":"9"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331826,"Size":{"DisplayOrder":3,"Id":11,"Value":"9.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331411,"Size":{"DisplayOrder":3,"Id":11,"Value":"9.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331412,"Size":{"DisplayOrder":3,"Id":11,"Value":"9.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330339,"Size":{"DisplayOrder":3,"Id":11,"Value":"9.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330765,"Size":{"DisplayOrder":3,"Id":11,"Value":"9.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331827,"Size":{"DisplayOrder":3,"Id":11,"Value":"9.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":3,"Id":1763,"Value":"Denim Blue\/Black"},"Id":330098,"Size":{"DisplayOrder":3,"Id":11,"Value":"9.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331619,"Size":{"DisplayOrder":3,"Id":11,"Value":"9.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330856,"Size":{"DisplayOrder":3,"Id":11,"Value":"9.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331721,"Size":{"DisplayOrder":3,"Id":11,"Value":"9.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331413,"Size":{"DisplayOrder":4,"Id":12,"Value":"10"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331722,"Size":{"DisplayOrder":4,"Id":12,"Value":"10"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331130,"Size":{"DisplayOrder":4,"Id":12,"Value":"10"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330946,"Size":{"DisplayOrder":4,"Id":12,"Value":"10"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":329923,"Size":{"DisplayOrder":4,"Id":12,"Value":"10"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330506,"Size":{"DisplayOrder":4,"Id":12,"Value":"10"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"On Backorder","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330007,"Size":{"DisplayOrder":4,"Id":12,"Value":"10"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330672,"Size":{"DisplayOrder":4,"Id":12,"Value":"10"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330594,"Size":{"DisplayOrder":4,"Id":12,"Value":"10"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330947,"Size":{"DisplayOrder":5,"Id":13,"Value":"10.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330425,"Size":{"DisplayOrder":5,"Id":13,"Value":"10.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"On Backorder","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330949,"Size":{"DisplayOrder":5,"Id":13,"Value":"10.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331723,"Size":{"DisplayOrder":5,"Id":13,"Value":"10.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331038,"Size":{"DisplayOrder":5,"Id":13,"Value":"10.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":329842,"Size":{"DisplayOrder":5,"Id":13,"Value":"10.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":3,"Id":1763,"Value":"Denim Blue\/Black"},"Id":331828,"Size":{"DisplayOrder":5,"Id":13,"Value":"10.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331829,"Size":{"DisplayOrder":5,"Id":13,"Value":"10.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330948,"Size":{"DisplayOrder":5,"Id":13,"Value":"10.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331525,"Size":{"DisplayOrder":5,"Id":13,"Value":"10.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330340,"Size":{"DisplayOrder":6,"Id":14,"Value":"11"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":329924,"Size":{"DisplayOrder":6,"Id":14,"Value":"11"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331039,"Size":{"DisplayOrder":6,"Id":14,"Value":"11"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331830,"Size":{"DisplayOrder":6,"Id":14,"Value":"11"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330508,"Size":{"DisplayOrder":6,"Id":14,"Value":"11"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330857,"Size":{"DisplayOrder":6,"Id":14,"Value":"11"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":3,"Id":1763,"Value":"Denim Blue\/Black"},"Id":330426,"Size":{"DisplayOrder":6,"Id":14,"Value":"11"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331227,"Size":{"DisplayOrder":6,"Id":14,"Value":"11"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330509,"Size":{"DisplayOrder":6,"Id":14,"Value":"11"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331414,"Size":{"DisplayOrder":6,"Id":14,"Value":"11"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330099,"Size":{"DisplayOrder":7,"Id":15,"Value":"11.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331939,"Size":{"DisplayOrder":7,"Id":15,"Value":"11.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331527,"Size":{"DisplayOrder":7,"Id":15,"Value":"11.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331228,"Size":{"DisplayOrder":7,"Id":15,"Value":"11.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330673,"Size":{"DisplayOrder":7,"Id":15,"Value":"11.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331940,"Size":{"DisplayOrder":7,"Id":15,"Value":"11.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":3,"Id":1763,"Value":"Denim Blue\/Black"},"Id":331831,"Size":{"DisplayOrder":7,"Id":15,"Value":"11.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330950,"Size":{"DisplayOrder":7,"Id":15,"Value":"11.5"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330009,"Size":{"DisplayOrder":7,"Id":15,"Value":"11.5"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330427,"Size":{"DisplayOrder":7,"Id":15,"Value":"11.5"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330674,"Size":{"DisplayOrder":8,"Id":16,"Value":"12"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330766,"Size":{"DisplayOrder":8,"Id":16,"Value":"12"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330428,"Size":{"DisplayOrder":8,"Id":16,"Value":"12"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331229,"Size":{"DisplayOrder":8,"Id":16,"Value":"12"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331416,"Size":{"DisplayOrder":8,"Id":16,"Value":"12"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331417,"Size":{"DisplayOrder":8,"Id":16,"Value":"12"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":3,"Id":1763,"Value":"Denim Blue\/Black"},"Id":331832,"Size":{"DisplayOrder":8,"Id":16,"Value":"12"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331621,"Size":{"DisplayOrder":8,"Id":16,"Value":"12"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330010,"Size":{"DisplayOrder":8,"Id":16,"Value":"12"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330858,"Size":{"DisplayOrder":8,"Id":16,"Value":"12"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330101,"Size":{"DisplayOrder":9,"Id":18,"Value":"13"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330102,"Size":{"DisplayOrder":9,"Id":18,"Value":"13"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331622,"Size":{"DisplayOrder":9,"Id":18,"Value":"13"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330596,"Size":{"DisplayOrder":9,"Id":18,"Value":"13"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330011,"Size":{"DisplayOrder":9,"Id":18,"Value":"13"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331528,"Size":{"DisplayOrder":9,"Id":18,"Value":"13"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":3,"Id":1763,"Value":"Denim Blue\/Black"},"Id":329925,"Size":{"DisplayOrder":9,"Id":18,"Value":"13"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330768,"Size":{"DisplayOrder":9,"Id":18,"Value":"13"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330103,"Size":{"DisplayOrder":9,"Id":18,"Value":"13"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":329926,"Size":{"DisplayOrder":9,"Id":18,"Value":"13"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":330951,"Size":{"DisplayOrder":10,"Id":19,"Value":"14"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331942,"Size":{"DisplayOrder":10,"Id":19,"Value":"14"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331724,"Size":{"DisplayOrder":10,"Id":19,"Value":"14"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":329843,"Size":{"DisplayOrder":10,"Id":19,"Value":"14"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331041,"Size":{"DisplayOrder":10,"Id":19,"Value":"14"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331418,"Size":{"DisplayOrder":10,"Id":19,"Value":"14"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":3,"Id":1763,"Value":"Denim Blue\/Black"},"Id":331040,"Size":{"DisplayOrder":10,"Id":19,"Value":"14"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330859,"Size":{"DisplayOrder":10,"Id":19,"Value":"14"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331230,"Size":{"DisplayOrder":10,"Id":19,"Value":"14"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":329844,"Size":{"DisplayOrder":10,"Id":19,"Value":"14"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331529,"Size":{"DisplayOrder":11,"Id":583,"Value":"15"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331833,"Size":{"DisplayOrder":11,"Id":583,"Value":"15"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":2,"Id":298,"Value":"Black Suede"},"Id":331420,"Size":{"DisplayOrder":11,"Id":583,"Value":"15"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331624,"Size":{"DisplayOrder":11,"Id":583,"Value":"15"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":331625,"Size":{"DisplayOrder":11,"Id":583,"Value":"15"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":1,"Id":1759,"Value":"Brownie\/Black"},"Id":330675,"Size":{"DisplayOrder":11,"Id":583,"Value":"15"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":3,"Id":1763,"Value":"Denim Blue\/Black"},"Id":329845,"Size":{"DisplayOrder":11,"Id":583,"Value":"15"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331231,"Size":{"DisplayOrder":11,"Id":583,"Value":"15"},"Width":{"DisplayOrder":1,"Id":12,"Value":"M\/D (Medium) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":331834,"Size":{"DisplayOrder":11,"Id":583,"Value":"15"},"Width":{"DisplayOrder":2,"Id":13,"Value":"W\/3E (Wide) "}},{"Availability":"In Stock","Color":{"DisplayOrder":4,"Id":2260,"Value":"Gunsmoke\/Black"},"Id":330676,"Size":{"DisplayOrder":11,"Id":583,"Value":"15"},"Width":{"DisplayOrder":3,"Id":33,"Value":"WW\/5E (Wide Wide) "}}],"ShortSKU":"78140","SizeErrorMsg":"Please select a size.","WidthErrorMsg":"Please select a width."}],"IsKit":false,"IsVariableKit":false,"ShortSKU":"78140"};
						</script>
					</div>
					<div id="bulletPointsSection">
						<label class="bulletPointsLabel">Ordering Info</label>
						<ul class="bulletPoints">
							<li>Orthotic-Friendly.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  </li>
						
							<li>Expedited shipping not available</li>
						
							<li>Item cannot be shipped to a P.O. Box.</li>
						</ul>
					</div>
					<div id="sharebox" class="clearfix">
						<span class="label shareboxItem">Share with friends</span>
						<ul class="horizontal sharebox">					
							<li>
								<span class="shareboxItem"><a href="Javascript:pdp.ShowTellAFriend(11442);" class="emailLink"><span class="alt">Email</span></a></span>
							</li>
							<li>
								<span class="shareboxItem" style="width:70px;">
									<iframe id="FacebookLike" src="http://www.facebook.com/plugins/like.php?layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=21&amp;href=http%3a%2f%2fwww.footsmart.com%2fproduct.aspx%3fshortsku%3d78140%26cm_vc%3drecs_mega_mshoe" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:130px; height:21px;" allowtransparency="true"></iframe>
								</span>
							</li>
							<li>
								<span class="shareboxItem" id="ctl00_MainContentPlaceHolder_ShareBoxModule_pintItButton"> 
									<a class="pin-it-button" count-layout="horizontal" onclick="javascript:pdp.ShowPinIt();" always-show-count="true"> 
										<img border="0" src="http://assets.pinterest.com/images/PinExt.png" title="Pin It"> 
									</a>							
								</span>
							</li>
						</ul>
					</div>

					<!--Tab Module-->
					<div id="productContent" class="m10t">                
						<div class="tabs">
							<ul class="tabHeaders clearfix">
								<li id="TabHeader_0" class="active default">
									<a href="javascript:void(0)">Description</a>
								</li>
								<li class="lastTab"></li>
							</ul>    
							<div class="tabsContent">
								<div id="TabContent_0" style="display:block">
									<div id="content_0" class="content">
										<div id="ctl00_MainContentPlaceHolder_tabs_tabContenRepeater_ctl01_content">
											<b>Propet Men&quot;s Scotchgard Leather Walker Slip-On Shoes - these washable walkers know how to stay clean!</b>
											<div class="descriptionTabContent"></div>
											Adjust the washing machine to gentle and toss in this washable suede shoe to keep it clean and presentable. 
											Plus, Scotchgard&trade; treatment resists staining. All the details you&quot;d expect in a quality active shoe are here: 
											excellent heel and arch support, molded EVA midsole for shock absorption, removable, breathable insole, stretchable, 
											padded nylon / neoprene collars and durable rubber outsole. A heel tab makes on and off so much easier. Backed by the world-famous Propet 
											1,000 mile guarantee.
											<div class="descriptionTabContent"></div>
											<p><strong>Features &amp; Benefits of Propet Men&quot;s Scotchgard Leather Walker Slip-On Shoes:</strong></p>
											<span class="more-content hide">
												<ul>
													<li>Machine washable suede upper is easy to keep clean.</li>
													<li>Neoprene collar and instep stretch for easy on / off and a comfortable fit.</li>
													<li>Molded EVA midsole absorbs shock with every step.</li>
													<li>Footbed provides built-in arch support and flexibility.</li>
													<li>Rubber outsole helps keep you steady with great traction.</li>
												</ul>
												<p><strong>Other Important Information About Propet Men&quot;s Scotchgard Leather Walker Slip-On Shoes:</strong></p>
												<ul>
													<li>Material Content: washable suede upper with Scotchgard, EVA midsole, rubber outsole.</li>
													<li>Care: Machine wash cold on gentle cycle. Air dry.</li>
													<li>Imported.</li>
												</ul>
											</span>
										</div>
										<div class="fadeContent"></div>
									</div>
									<div class="more"><a id="more_0" class="">More</a></div>    
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <div class="span192 m5b">
        <div id="CSB_PDPZ1" class="footSmartCrossSells Horizontal">
			<script type="text/javascript">FootSmartGlobal.CrossSells.CrossSellBars.push({"Category":"_TS_","CoremetricsVirtualCategory":"recs_pp_io","CrossSellProducts":[],"HasTest":false,"Id":1,"IsDeleted":false,"MaxProducts":5,"Orientation":"Horizontal","PageType":1,"Priority":2,"ProductId":0,"Scene7Params":"$product_thumb$","SearchTerm":"","ShortSku":"","ShowCarousel":false,"Style":"","TestActive":false,"TestName":"","TestVariationName":"CONTROL","Title":"","Zone":"PDPZ1","ZonePopulationCalled":false})</script>
			<h2><span class="pageCorner"></span>Many of Our Customers Also Liked<span class="titlePointer"></span></h2>
			<ul class="clearfix">
				<li id="CSB1-1" class="">
					<div>
						<div class="crossSellProductImageArea">
							<a href="product.aspx?shortsku=70525&amp;cm_vc=recs_pp_io">
								<img src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/70525_TAN?$product_thumb$" title="Hush Puppies Men's Gil Adjustable Slip-Ons - 70525" alt="Hush Puppies Men's Gil Adjustable Slip-Ons - 70525" class="crossSellImage">
							</a>
						</div> 
						<div class="crossSellProductNameArea">  
							<a href="product.aspx?shortsku=70525&amp;cm_vc=recs_pp_io">Hush Puppies Men's Gil Adjustable Slip-Ons</a> 
						</div> 
						<div class="priceArea clearfix"><span class="promotextbold">$89.99</span></div> 
						<div class="starsDiv">
							<a href="product.aspx?shortsku=70525&amp;cm_vc=recs_pp_io">
								<div class="backgroundStarsEmpty"></div>
								<div class="backgroundStars440"></div>
							</a>
						</div> 
					</div> 
				</li>
				<li id="CSB1-2" class="">
					<div>
						<div class="crossSellProductImageArea">
							<a href="product.aspx?shortsku=87223&amp;cm_vc=recs_pp_io">
								<img src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/87223_WHITE?$product_thumb$" title="New Balance Men's 577 Easy Grip Walking Shoes - 87223" alt="New Balance Men's 577 Easy Grip Walking Shoes - 87223" class="crossSellImage">
							</a> 
						</div> 
						<div class="crossSellProductNameArea">  
							<a href="product.aspx?shortsku=87223&amp;cm_vc=recs_pp_io">New Balance Men's 577 Easy Grip Walking Shoes</a> 
						</div> 
						<div class="priceArea clearfix"> <span class="promotextbold">$77.99</span></div> 
						<div class="starsDiv ">
							<a href="product.aspx?shortsku=87223&amp;cm_vc=recs_pp_io">
								<div class="backgroundStarsEmpty"></div>
								<div class="backgroundStars500"></div>
							</a>
						</div> 
					</div> 
				</li>
				<li id="CSB1-3" class="">
					<div>
						<div class="crossSellProductImageArea">
							<a href="product.aspx?shortsku=70431&amp;cm_vc=recs_pp_io">
								<img src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/70431_BLACK?$product_thumb$" title="Propet Preferred Men's Vista Walker Tie Oxfords - 70431" alt="Propet Preferred Men's Vista Walker Tie Oxfords - 70431" class="crossSellImage">
							</a> 
						</div> 
						<div class="crossSellProductNameArea">  
							<a href="product.aspx?shortsku=70431&amp;cm_vc=recs_pp_io">Propet Preferred Men's Vista Walker Tie Oxfords</a> 
						</div> 
						<div class="priceArea clearfix"><span class="promotextbold">$95.99</span></div> 
						<div class="starsDiv ">
							<a href="product.aspx?shortsku=70431&amp;cm_vc=recs_pp_io">
								<div class="backgroundStarsEmpty"></div>
								<div class="backgroundStars420"></div>
							</a>
						</div> 
					</div> 
				</li>
				<li id="CSB1-4" class="">
					<div>
						<div class="crossSellProductImageArea">
							<a href="product.aspx?shortsku=73048&amp;cm_vc=recs_pp_io">
								<img src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/73048_WHITE_NAVY?$product_thumb$" title="Orthaheel Men's Action Walker Shoes - 73048" alt="Orthaheel Men's Action Walker Shoes - 73048" class="crossSellImage">
							</a> 
						</div> 
						<div class="crossSellProductNameArea">  
							<a href="product.aspx?shortsku=73048&amp;cm_vc=recs_pp_io">Orthaheel Men's Action Walker Shoes</a> 
						</div> 
						<div class="priceArea clearfix"><span class="promotextbold">$99.99</span></div> 
						<div class="starsDiv ">
							<a href="product.aspx?shortsku=73048&amp;cm_vc=recs_pp_io">
								<div class="backgroundStarsEmpty"></div>
								<div class="backgroundStars380"></div>
							</a>
						</div> 
					</div> 
				</li>
				<li id="CSB1-5" class="last">
					<div>
						<div class="crossSellProductImageArea">
							<a href="product.aspx?shortsku=85704&amp;cm_vc=recs_pp_io">
								<img src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/85704_BROWN?$product_thumb$" title="Dunham Men's Captain Boat Shoes - 85704" alt="Dunham Men's Captain Boat Shoes - 85704" class="crossSellImage">
							</a> 
						</div> 
						<div class="crossSellProductNameArea">  
							<a href="product.aspx?shortsku=85704&amp;cm_vc=recs_pp_io">Dunham Men's Captain Boat Shoes</a> 
						</div> 
						<div class="priceArea clearfix"><span class="promotextbold">$119.99</span></div> 
						<div class="starsDiv hide">
							<a href="product.aspx?shortsku=85704&amp;cm_vc=recs_pp_io">
								<div class="backgroundStarsEmpty"></div>
								<div class="backgroundStars0"></div>
							</a>
						</div> 
					</div> 
				</li>
			</ul>
		</div>
    </div>

    <div class="span192 m5b">
		<div id="reviewsContainer" class="boxBorderPlain">
			<div class="reviewShadedBackgroundTop">
				<div class="reviewPadding clearfix">
					<div class="reviewsTitleLeft">
						Customer Reviews&nbsp;
						<span class="ratingBoldText">1 - 4 reviews of 30</span>
					</div>
					<div class="right">
						<ul id="reviewsTitle" class="horizontal">
							<li><span><a href="http://reviews.footsmart.com/4007/11442/writereview.htm?format=embedded&amp;campaignid=BV_RATING_SUMMARY&amp;return=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx&amp;innerreturn=http://reviews.footsmart.com/4007/11442/reviews.htm?format=embedded&amp;sort=rating&amp;user=__USERID__&amp;submissionparams=__BVSUBMISSIONPARAMETERS__&amp;submissionurl=__BVSUBMISSIONURL__">Write a Review</a></span></li>							
						</ul>
					</div>
				</div> 
			</div>
			<div id="reviewsContent">
				<div class="reviewContent">
					<div class="reviewPadding clearfix">
						<div class="reviewText">
							<div class="clearfix">
								<div class="left">
									<div class="ratingBoldText">Son with BIG FEET</div>
								</div>
								<div class="right alignRight">
									<span class="ratingBoldText">POSTED: December 28, 2012</span><br>
									CLWA, Long Beach, CA
								</div>
							</div>
							<div id="ctl00_MainContentPlaceHolder_reviewsModule_repeatReviews_ctl00_RatingModuleHolder" class="reviewRatingArea">
								<div id="ctl00_MainContentPlaceHolder_reviewsModule_repeatReviews_ctl00_ctl00_productRatingPanel">
									<ul class="ratingStars clearfix">										
										<li>											
											<div class="starsDiv clearfix">
												<div class="backgroundStarsEmpty"></div>
												<div class="StarRating" style="width:100%;"></div>
											</div>											
										</li>
										<li>5 of 5</li>										
									</ul>
								</div>
							</div>
							<div>
								My son loves all the Prophet slip on shoes. These were a gift. He loves the blue ones. He is hard to fit and these come big enough for him. He doesn't want to wear anything else. Highly recommended all of the versions, the leather, the nylon, and the scotch guarded slip-ons.
							</div>					
							<div class="helpfulLinksL">
								Was this review helpful to you?&nbsp;&nbsp;&nbsp;
								<a href="http://reviews.footsmart.com/4007/11442/review/26324716/positive.htm?format=embedded&amp;return=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx&amp;innerreturn=http://reviews.footsmart.com/4007/11442/reviews.htm?format=embedded&amp;sort=rating&amp;user=__USERID__&amp;submissionparams=__BVSUBMISSIONPARAMETERS__&amp;submissionurl=__BVSUBMISSIONURL__">Yes</a>&nbsp;&nbsp;&nbsp;
								<a href="http://reviews.footsmart.com/4007/11442/review/26324716/negative.htm?format=embedded&amp;return=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx&amp;innerreturn=http://reviews.footsmart.com/4007/11442/reviews.htm?format=embedded&amp;sort=rating&amp;user=__USERID__&amp;submissionparams=__BVSUBMISSIONPARAMETERS__&amp;submissionurl=__BVSUBMISSIONURL__">No</a>
							</div>
							<div class="shareReviewLinks">
								<ul>
									<li class="text"><span class="ratingBoldText">Share this review</span></li>
									<li><a class="sprite facebook" href="http://reviews.footsmart.com/4007/share.htm?site=Facebook&amp;url=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx%3Fsrccode%3DWG000452%26cm_mmc%3DBV-_-NA-_-BV-_-BV%26ci_src%3D17175174%26ci_sku%3DParentItem78140&amp;title=Propet+Men's+Scotchgard+Leather+Walker+Slip-On+Shoes&amp;robot=no" target="_blank"></a></li>
									<li><a class="sprite twitter" href="http://reviews.footsmart.com/4007/share.htm?site=Twitter&amp;url=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx%3Fsrccode%3DWG000452%26cm_mmc%3DBV-_-NA-_-BV-_-BV%26ci_src%3D17175174%26ci_sku%3DParentItem78140&amp;title=Propet+Men's+Scotchgard+Leather+Walker+Slip-On+Shoes&amp;robot=no" target="_blank"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="reviewContent">
					<div class="reviewPadding clearfix">
						<div class="reviewText">
							<div class="clearfix">
								<div class="left">
									<div class="ratingBoldText">Great Purchase</div>
								</div>
								<div class="right alignRight">
									<span class="ratingBoldText">POSTED: August 29, 2012</span><br>
									Gardening, Salisbury, MD
								</div>
							</div>
							<div id="ctl00_MainContentPlaceHolder_reviewsModule_repeatReviews_ctl01_RatingModuleHolder" class="reviewRatingArea">
								<div id="ctl00_MainContentPlaceHolder_reviewsModule_repeatReviews_ctl01_ctl00_productRatingPanel">
									<ul class="ratingStars clearfix">										
										<li>											
											<div class="starsDiv clearfix">
												<div class="backgroundStarsEmpty"></div>
												<div class="StarRating" style="width:100%;"></div>
											</div>
										</li>
										<li>5 of 5</li>									
									</ul>
								</div>
							</div>
							<div>My husband loves the shoe. It looks great and is very comfortable. Will purchase more of this style.</div>					
							<div class="helpfulLinksL">
								Was this review helpful to you?&nbsp;&nbsp;&nbsp;
								<a href="http://reviews.footsmart.com/4007/11442/review/24854856/positive.htm?format=embedded&amp;return=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx&amp;innerreturn=http://reviews.footsmart.com/4007/11442/reviews.htm?format=embedded&amp;sort=rating&amp;user=__USERID__&amp;submissionparams=__BVSUBMISSIONPARAMETERS__&amp;submissionurl=__BVSUBMISSIONURL__">Yes</a>&nbsp;&nbsp;&nbsp;
								<a href="http://reviews.footsmart.com/4007/11442/review/24854856/negative.htm?format=embedded&amp;return=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx&amp;innerreturn=http://reviews.footsmart.com/4007/11442/reviews.htm?format=embedded&amp;sort=rating&amp;user=__USERID__&amp;submissionparams=__BVSUBMISSIONPARAMETERS__&amp;submissionurl=__BVSUBMISSIONURL__">No</a>
							</div>
							<div class="shareReviewLinks">
								<ul>
									<li class="text"><span class="ratingBoldText">Share this review</span></li>
									<li><a class="sprite facebook" href="http://reviews.footsmart.com/4007/share.htm?site=Facebook&amp;url=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx%3Fsrccode%3DWG000452%26cm_mmc%3DBV-_-NA-_-BV-_-BV%26ci_src%3D17175174%26ci_sku%3DParentItem78140&amp;title=Propet+Men's+Scotchgard+Leather+Walker+Slip-On+Shoes&amp;robot=no" target="_blank"></a></li>
									<li><a class="sprite twitter" href="http://reviews.footsmart.com/4007/share.htm?site=Twitter&amp;url=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx%3Fsrccode%3DWG000452%26cm_mmc%3DBV-_-NA-_-BV-_-BV%26ci_src%3D17175174%26ci_sku%3DParentItem78140&amp;title=Propet+Men's+Scotchgard+Leather+Walker+Slip-On+Shoes&amp;robot=no" target="_blank"></a></li>
								</ul>
							</div>
						</div>
						<div id="ctl00_MainContentPlaceHolder_reviewsModule_repeatReviews_ctl01_reviewSliderDIV" class="reviewSlider">				
							<div class="sliderSmall">
								<div class="reviewPadding">
									<div class="ratingBoldTextBlackSmall">Arch Support</div>
									<div class="chartLine">
										<img src="http://www.footsmart.com/images/dotCheck.gif" style="position:relative;top:0px; left:90%;" alt="">
									</div>
									<div class="clearfix">
										<div class="sliderMinimum">No Arch Support</div>
										<div class="sliderMaximumSmall">Great Arch Support</div>
									</div>
								</div>
							</div>					
							<div class="sliderSmall">
								<div class="reviewPadding">
									<div class="ratingBoldTextBlackSmall">Comfort</div>
									<div class="chartLine">
										<img src="http://www.footsmart.com/images/dotCheck.gif" style="position:relative;top:0px; left:90%;" alt="">
									</div>
									<div class="clearfix">
										<div class="sliderMinimum">Minimal Cushioning</div>
										<div class="sliderMaximumSmall">Extra Cushioning</div>
									</div>
								</div>
							</div>
							<div class="sliderSmall">
								<div class="reviewPadding">
									<div class="ratingBoldTextBlackSmall">True to Size</div>
									<div class="chartLine">
										<img src="http://www.footsmart.com/images/dotCheck.gif" style="position:relative;top:0px; left:38%;" alt="">
									</div>
									<div class="clearfix">
										<div class="sliderMinimum">Length Runs Small</div>
										<div class="sliderMaximumSmall">Length Runs Large</div>
									</div>
								</div>
							</div>
							<div class="sliderSmall">
								<div class="reviewPadding">
									<div class="ratingBoldTextBlackSmall">Width</div>
									<div class="chartLine">
										<img src="http://www.footsmart.com/images/dotCheck.gif" style="position:relative;top:0px; left:38%;" alt="">
									</div>
									<div class="clearfix">
										<div class="sliderMinimum">Width Runs Narrow</div>
										<div class="sliderMaximumSmall">Width Runs Wide</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="reviewContent">
					<div class="reviewPadding clearfix">
						<div class="reviewText">
							<div class="clearfix">
								<div class="left"><div class="ratingBoldText">HUSBAND LOVES THESE SHOES!</div></div>
								<div class="right alignRight">
									<span class="ratingBoldText">POSTED: April 03, 2012</span><br>
									GrandmaDebbie, Oho
								</div>
							</div>
							<div id="ctl00_MainContentPlaceHolder_reviewsModule_repeatReviews_ctl02_RatingModuleHolder" class="reviewRatingArea">
								<div id="ctl00_MainContentPlaceHolder_reviewsModule_repeatReviews_ctl02_ctl00_productRatingPanel">		
									<ul class="ratingStars clearfix">										
										<li>											
											<div class="starsDiv clearfix">
												<div class="backgroundStarsEmpty"></div>
												<div class="StarRating" style="width:100%;"></div>
											</div>
										</li>
										<li>5 of 5</li>									
									</ul>
								</div>
							</div>
							<div>
								My husband is a diabetic and his feet ache him constantly and he loves this pair of shoes. He said it is the most comfortable pair of shoes he has worn in a long time. He is an avid complainer about everything, but this is one thing he has done nothing but praised my purchase of these shoes. I am planning on purchasing two more pairs in different colors..
							</div>
							<div class="helpfulLinksL">
								Was this review helpful to you?&nbsp;&nbsp;&nbsp;
								<a href="http://reviews.footsmart.com/4007/11442/review/23106682/positive.htm?format=embedded&amp;return=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx&amp;innerreturn=http://reviews.footsmart.com/4007/11442/reviews.htm?format=embedded&amp;sort=rating&amp;user=__USERID__&amp;submissionparams=__BVSUBMISSIONPARAMETERS__&amp;submissionurl=__BVSUBMISSIONURL__">Yes</a>&nbsp;&nbsp;&nbsp;
								<a href="http://reviews.footsmart.com/4007/11442/review/23106682/negative.htm?format=embedded&amp;return=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx&amp;innerreturn=http://reviews.footsmart.com/4007/11442/reviews.htm?format=embedded&amp;sort=rating&amp;user=__USERID__&amp;submissionparams=__BVSUBMISSIONPARAMETERS__&amp;submissionurl=__BVSUBMISSIONURL__">No</a>
							</div>
							<div class="shareReviewLinks">
								<ul>
									<li class="text"><span class="ratingBoldText">Share this review</span></li>
									<li><a class="sprite facebook" href="http://reviews.footsmart.com/4007/share.htm?site=Facebook&amp;url=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx%3Fsrccode%3DWG000452%26cm_mmc%3DBV-_-NA-_-BV-_-BV%26ci_src%3D17175174%26ci_sku%3DParentItem78140&amp;title=Propet+Men's+Scotchgard+Leather+Walker+Slip-On+Shoes&amp;robot=no" target="_blank"></a></li>
									<li><a class="sprite twitter" href="http://reviews.footsmart.com/4007/share.htm?site=Twitter&amp;url=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx%3Fsrccode%3DWG000452%26cm_mmc%3DBV-_-NA-_-BV-_-BV%26ci_src%3D17175174%26ci_sku%3DParentItem78140&amp;title=Propet+Men's+Scotchgard+Leather+Walker+Slip-On+Shoes&amp;robot=no" target="_blank"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="reviewContent">
					<div class="reviewPadding clearfix">
						<div class="reviewText">
							<div class="clearfix">
								<div class="left">
									<div class="ratingBoldText">Great and Comfy</div>
								</div>
								<div class="right alignRight">
									<span class="ratingBoldText">POSTED: March 09, 2012</span><br>
									mozuri46, Logan, UT
								</div>
							</div>
							<div id="ctl00_MainContentPlaceHolder_reviewsModule_repeatReviews_ctl03_RatingModuleHolder" class="reviewRatingArea">
								<div id="ctl00_MainContentPlaceHolder_reviewsModule_repeatReviews_ctl03_ctl00_productRatingPanel">
									<ul class="ratingStars clearfix">										
										<li>											
											<div class="starsDiv clearfix">
												<div class="backgroundStarsEmpty"></div>
												<div class="StarRating" style="width:100%;"></div>
											</div>											
										</li>
										<li>5 of 5</li>										
									</ul>
								</div>
							</div>
							<div>Haven't owned a pair of slipons in years and really like these. Comfy and fit just right. Love em.</div>					
							<div class="helpfulLinksL">
								Was this review helpful to you?&nbsp;&nbsp;&nbsp;
								<a href="http://reviews.footsmart.com/4007/11442/review/22691289/positive.htm?format=embedded&amp;return=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx&amp;innerreturn=http://reviews.footsmart.com/4007/11442/reviews.htm?format=embedded&amp;sort=rating&amp;user=__USERID__&amp;submissionparams=__BVSUBMISSIONPARAMETERS__&amp;submissionurl=__BVSUBMISSIONURL__">Yes</a>&nbsp;&nbsp;&nbsp;
								<a href="http://reviews.footsmart.com/4007/11442/review/22691289/negative.htm?format=embedded&amp;return=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx&amp;innerreturn=http://reviews.footsmart.com/4007/11442/reviews.htm?format=embedded&amp;sort=rating&amp;user=__USERID__&amp;submissionparams=__BVSUBMISSIONPARAMETERS__&amp;submissionurl=__BVSUBMISSIONURL__">No</a>
							</div>
							<div class="shareReviewLinks">
								<ul>
									<li class="text"><span class="ratingBoldText">Share this review</span></li>
									<li><a class="sprite facebook" href="http://reviews.footsmart.com/4007/share.htm?site=Facebook&amp;url=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx%3Fsrccode%3DWG000452%26cm_mmc%3DBV-_-NA-_-BV-_-BV%26ci_src%3D17175174%26ci_sku%3DParentItem78140&amp;title=Propet+Men's+Scotchgard+Leather+Walker+Slip-On+Shoes&amp;robot=no" target="_blank"></a></li>
									<li><a class="sprite twitter" href="http://reviews.footsmart.com/4007/share.htm?site=Twitter&amp;url=http%3a%2f%2fwww.footsmart.com%2fP-Propet-Mens-Scotchgard-Leather-Walker-Slip-On-Shoes-78140.aspx%3Fsrccode%3DWG000452%26cm_mmc%3DBV-_-NA-_-BV-_-BV%26ci_src%3D17175174%26ci_sku%3DParentItem78140&amp;title=Propet+Men's+Scotchgard+Leather+Walker+Slip-On+Shoes&amp;robot=no" target="_blank"></a></li>
								</ul>
							</div>
						</div>
						<div id="ctl00_MainContentPlaceHolder_reviewsModule_repeatReviews_ctl03_reviewSliderDIV" class="reviewSlider">				
							<div class="sliderSmall">
								<div class="reviewPadding">
									<div class="ratingBoldTextBlackSmall">Arch Support</div>
									<div class="chartLine">
										<img src="http://www.footsmart.com/images/dotCheck.gif" style="position:relative;top:0px; left:64%;" alt="">
									</div>
									<div class="clearfix">
										<div class="sliderMinimum">No Arch Support</div>
										<div class="sliderMaximumSmall">Great Arch Support</div>
									</div>
								</div>
							</div>
							<div class="sliderSmall">
								<div class="reviewPadding">
									<div class="ratingBoldTextBlackSmall">Comfort</div>
									<div class="chartLine">
										<img src="http://www.footsmart.com/images/dotCheck.gif" style="position:relative;top:0px; left:64%;" alt="">
									</div>
									<div class="clearfix">
										<div class="sliderMinimum">Minimal Cushioning</div>
										<div class="sliderMaximumSmall">Extra Cushioning</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="reviewsFooter" class="clearfix">
				<div id="ctl00_MainContentPlaceHolder_reviewsModule_ViewAllReviewsLink" class="reviewPadding alignRight">
					<a href="javascript:void(0);" id="viewAllReviewsLink" class="readAllReviews">View all reviews</a>
				</div>
			</div>
		</div>
		<div id="ctl00_MainContentPlaceHolder_reviewsModule_AllReviewsPanel">
			<div id="reviewsOverlay" class="overlay" style="display:none;"></div>
			<div id="reviewsOverlayContentContainer" class="overlayContainer" style="display:none;">
				<div id="reviewsOuterFrame">
					<div class="reviewsInnerFrameTitle"><a href="javascript:void(0);" id="hideReviewsPopupLink"><img src="http://www.footsmart.com/images/button-closePopup.jpg" alt="Close Window"></a></div>
					<div class="overlayBody"><iframe id="reviewsInnerFrame" src="" frameborder="0" width="100%"></iframe></div>
				</div>
			</div>
		</div>

		<script>

			var reviewSettings = 
			{ 
				"currentPageNumber" : 1,
				"currentSortOrder" : 8,
				"reviewsPerPage" : 4,
				"baseReviewLink" : 'http://www.footsmart.com/reviews.aspx?r=1'
			}

			//var currentPageNumber = 1;
			//var currentSortOrder = 8;
			//var reviewsPerPage = 4;
			//var baseReviewLink = 'http://www.footsmart.com/reviews.aspx?r=1';

			var reviews = new Reviews();

			var overallRatingViewAllReviewsLink = $('overallRatingViewAllReviewsLink');
			var viewAllReviewsLink = $('viewAllReviewsLink');	// view all reviews is at the bottom of the page
			var hideReviewsPopupLink = $('hideReviewsPopupLink');
			var previousPageLink = $('previousPageLink');
			var nextPageLink = $('nextPageLink');
			var sortDropDown = $('ctl00_MainContentPlaceHolder_reviewsModule_ddlSortOrderBox');
			var countDropDown = $('ctl00_MainContentPlaceHolder_reviewsModule_ddlSelectShowCount');


			if(overallRatingViewAllReviewsLink != null) { overallRatingViewAllReviewsLink.observe('click', reviews.ViewAllReviews); }
			if(viewAllReviewsLink != null) { viewAllReviewsLink.observe('click', reviews.ViewAllReviews); }
			if(hideReviewsPopupLink != null) { hideReviewsPopupLink.observe('click', reviews.HideReviewBox); }
			if(previousPageLink != null) { previousPageLink.observe('click', reviews.PreviousPage); }
			if(nextPageLink != null) { nextPageLink.observe('click', reviews.NextPage); }
			if(sortDropDown != null) { $('ctl00_MainContentPlaceHolder_reviewsModule_ddlSortOrderBox').observe('change', reviews.changeSort); }
			if(countDropDown != null) { $('ctl00_MainContentPlaceHolder_reviewsModule_ddlSelectShowCount').observe('change', reviews.changeCount); }

		</script>

    </div>

    <div id="CSB_PDPZ2" class="cs-PDP-Vertical Vertical">
		<script type="text/javascript">FootSmartGlobal.CrossSells.CrossSellBars.push({"Category":"","CoremetricsVirtualCategory":"recs_pp2_io","CrossSellProducts":[],"HasTest":false,"Id":11,"IsDeleted":false,"MaxProducts":4,"Orientation":"Vertical","PageType":1,"Priority":1,"ProductId":0,"Scene7Params":"$product_thumb$","SearchTerm":"","ShortSku":"","ShowCarousel":false,"Style":"cs-PDP-Vertical","TestActive":false,"TestName":"","TestVariationName":"","Title":"","Zone":"PDPZ2","ZonePopulationCalled":false})</script>
		<h2><span class="pageCorner"></span>Customers Also Viewed<span class="titlePointer"></span></h2>
		<ul class="clearfix">
			<li id="CSB11-1" class="">
				<div>
					<div class="crossSellProductImageArea">
						<a href="product.aspx?shortsku=78332&amp;cm_vc=recs_pp2_io">
							<img src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/78332_BROWNIE?$product_thumb$" title="Propet Men's Wash 'N Wear Nylon Walker - 78332" alt="Propet Men's Wash 'N Wear Nylon Walker - 78332" class="crossSellImage">
						</a> 
					</div> 
					<div class="crossSellProductNameArea">  
						<a href="product.aspx?shortsku=78332&amp;cm_vc=recs_pp2_io">Propet Men's Wash 'N Wear Nylon Walker</a> 
					</div> 
					<div class="priceArea clearfix"><span class="promotextbold">$69.99</span></div> 
					<div class="starsDiv hide">
						<a href="product.aspx?shortsku=78332&amp;cm_vc=recs_pp2_io">
							<div class="backgroundStarsEmpty"></div>
							<div class="backgroundStars0"></div>
						</a>
					</div> 
				</div> 
			</li>
			<li id="CSB11-2" class="">
				<div>
					<div class="crossSellProductImageArea">
						<a href="product.aspx?shortsku=70848&amp;cm_vc=recs_pp2_io">
							<img src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/70848_GUNSMOKE?$product_thumb$" title="Merrell Men's Jungle Moc Suede Slip-On Shoes - 70848" alt="Merrell Men's Jungle Moc Suede Slip-On Shoes - 70848" class="crossSellImage">
						</a> 
					</div> 
					<div class="crossSellProductNameArea">  
						<a href="product.aspx?shortsku=70848&amp;cm_vc=recs_pp2_io">Merrell Men's Jungle Moc Suede Slip-On Shoes</a> 
					</div> 
					<div class="priceArea clearfix"><span class="promotextbold">$79.99</span></div> 
					<div class="starsDiv hide">
						<a href="product.aspx?shortsku=70848&amp;cm_vc=recs_pp2_io">
							<div class="backgroundStarsEmpty"></div>
							<div class="backgroundStars0"></div>
						</a>
					</div> 
				</div> 
			</li>
			<li id="CSB11-3" class="">
				<div>
					<div class="crossSellProductImageArea">
						<a href="product.aspx?shortsku=87222&amp;cm_vc=recs_pp2_io">
							<img src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/87222_BLACK?$product_thumb$" title="New Balance Men's 577 Tie Walking Shoes - 87222" alt="New Balance Men's 577 Tie Walking Shoes - 87222" class="crossSellImage">
						</a> 
					</div> 
					<div class="crossSellProductNameArea">  
						<a href="product.aspx?shortsku=87222&amp;cm_vc=recs_pp2_io">New Balance Men's 577 Tie Walking Shoes</a> 
					</div> 
					<div class="priceArea clearfix"><span class="promotextbold">$77.99</span></div> 
					<div class="starsDiv ">
						<a href="product.aspx?shortsku=87222&amp;cm_vc=recs_pp2_io">
							<div class="backgroundStarsEmpty"></div>
							<div class="backgroundStars480"></div>
						</a>
					</div> 
				</div> 
			</li>
			<li id="CSB11-4" class="last">
				<div>
					<div class="crossSellProductImageArea">
						<a href="product.aspx?shortsku=86601&amp;cm_vc=recs_pp2_io">
							<img src="http://s7ondemand1.scene7.com/is/image/BenchmarkBrands/86601_DARK_EARTH?$product_thumb$" title="Merrell Men's World Legend Slip-On Shoes - 86601" alt="Merrell Men's World Legend Slip-On Shoes - 86601" class="crossSellImage">
						</a> 
					</div> 
					<div class="crossSellProductNameArea">  
						<a href="product.aspx?shortsku=86601&amp;cm_vc=recs_pp2_io">Merrell Men's World Legend Slip-On Shoes</a> 
					</div> 
					<div class="priceArea clearfix"><span class="promotextbold">$99.95</span></div>
					<div class="starsDiv ">
						<a href="product.aspx?shortsku=86601&amp;cm_vc=recs_pp2_io">
							<div class="backgroundStarsEmpty"></div>
							<div class="backgroundStars500"></div>
						</a>
					</div> 
				</div> 
			</li>
		</ul>
	</div>	
</div>
