/* CSS Document */

div#breadcrumbs {
	margin: 0 0 5px 0;
	font-weight: bold;
	#backtoBrowsing {
		font-size: 12px;
		text-decoration: none;
	}
}
   
div.percentRecommended {
	font-size: 11px;
	font-weight: normal;
	color: #000;
}

div#ProductPurchaseDetails div#TitleArea {
	padding: 0 0 15px 0;
	border-bottom: dotted 1px #193972;
}

div#ProductPurchaseDetails div#PSWC {
	position: relative;
}

div#ProductPurchaseDetails div.bottomBorder {
	border-bottom: dotted 1px #193972;
}

div#PSWC div.kitInstructions {
	display: none;
}

div#ProductPurchaseDetails div.visual div.dimensionBox {
	border-bottom: 1px dotted #193972;
}

div.nonkit div#PSWC div.dimensionBox {
	padding: 2px 0 1px 0;
}

div#ProductPurchaseDetails div.dimensionBox {
	position: relative;
}

div#ProductPurchaseDetails #sizeDimension1 .title {
	width: 260px;
}

div#ProductPurchaseDetails .title {
	line-height: 20px;
	position: relative;
	margin: 0px;
}

div#ProductPurchaseDetails div.visual div.dimensionBox {
	border-bottom: 1px dotted #193972;
}

div#ProductPurchaseDetails #sizeDimension1 .title {
	width: 260px;
}

div#ProductPurchaseDetails .title {
	line-height: 20px;
	position: relative;
	margin: 0px;
}

div#ProductPurchaseDetails ul.visualizationSelectors, div#productImageViewer ul.visualizationSelectors {
	display: inline-block;
	margin: 5px 0px;
	zoom: 1;
}

div#ProductPurchaseDetails ul.visualizationSelectors li.available, div#productImageViewer ul.visualizationSelectors li.available {
	float: left;
	list-style-type: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
	background-color: #FFF;
	min-width: 14px;
	border: solid 1px #ccc;
	padding: 4px 5px;
	margin: 0 5px;
}

div#ProductPurchaseDetails ul.sizeVisualization li div, div#ProductPurchaseDetails ul.widthVisualization li div {
	
}


